/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.FP{
  color:black;
  margin-bottom:0;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  counter-reset:ti1;
  font-family:sans-serif;
}
p{
  display:block;  
  font-family:Univers;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0px;
  -webkit-margin-end:0px;
  margin-bottom:0;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  color:black;
}
p + p {
  margin-top:1%;
}
div{
  display:block;
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-margin-start:0px;
  -webkit-margin-end:0px;
  margin-bottom:0;
  margin-top:0;
  margin-left:0;
  margin-right:0;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Alpuce:before{
  color:black;
  content:"● ";
}
.Alpuce{
  color:black;
  text-indent:5%;
}
.FPRO .Alpuce:before{
  color:#4DB0FF;
  content:"● ";
}
.FPRO .Alpuce{
  color:black;
}
/*
xhtml/EE_X5019_FP_Ledeleguesyndicaletlaformation.fm.html
*/
.Alpuceremarque:before{
  color:black;
  content:"● ";
  font-style:italic;
}
.Alpuceremarque{
  color:black;
  text-indent:5%;
  font-style:italic;
}
/*
xhtml/EE_X5019_FP_Ledeleguesyndicaletlaformation.fm.html
*/
.Alremarque{
  color:black;
  font-style:italic;
}
/*
xhtml/EE_X5015_FP_Lecalendriertypeduresponsableformation.fm.html
*/
.Altiret:before{
  color:black;
  content:"● ";
}
.Altiret{
  color:black;
  text-indent:5%;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.E{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Entry{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.FP{
  color:black;
}
.FPRO{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Fiche{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
Fixe{
  content:attr(data-xml-idbr);
  color:black;
  font-size:smaller;
}
/*
xhtml/EE_X5005_FP_Lesobligationslegalesduchefdentreprise.fm.html
*/
.GPAppelNT{
  color:black;
}
/*
xhtml/EE_X5005_FP_Lesobligationslegalesduchefdentreprise.fm.html
*/
.GPNT{
  color:black;
}
/*
xhtml/EE_X5010_FP_Lesconventionsdebranche.fm.html
*/
.I{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.INTROFP,.INTROFPRO{
  display:block;
  margin-top:3%;
  margin-bottom:3%;
  font-weight:bold;
  font-style:normal;
  font-size:1em;
  font-stretch:normal;
  color:#4DB0FF;
  text-align:justify;
  line-height:110.53%;
  word-spacing:0.25em;
  margin-left:0.19685in;
  text-indent:0.0in;
  margin-right:0.0in;
  margin-top:1.4173pt;
}
.INT:before {
  content : "▮";
  word-spacing:0;
  line-height:0;
  letter-spacing:0;
  font-size:2em;
}
.INT{
  display:block;
  font-family:Univers 55;
  font-weight:bold;
  font-style:normal;
  font-size:1.5em;
  font-stretch:normal;
  color:#1A527F;
  text-align:left;
  margin-top:3%;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Ill{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Image{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Tiobs:before{
  content:"OBSERVATIONS";
  color:white;
  font-weight:bold;
  background-color:#B3DDFF;
  display:inline-block;
  margin-right:0.5em;
}
.Tiobs{
  color:black;
  font-weight:bold;
  background-color:#B3DDFF;
  display:inline-block;
}
/*
xhtml/EE_X5246_MT_planformationentplusdixsalarie.fm.html
*/
.Alobs:before{
  content:"OBSERVATIONS";
  color:white;
  font-weight:bold;
  background-color:#B3DDFF;
  display:inline-block;
  margin-right:0.5em;
}
.Alobs{
  color:black;
  font-weight:bold;
  background-color:#B3DDFF;
  display:inline-block;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.OBS {
  color:black;
  background-color:#B3DDFF;
}
.FPRO .OBS{
  color:black;
  background-color:#CCE9FF;
}
.FPRO .OBS table,.FPRO .OBS .table {
  border:0; 
}
.FPRO .OBS:before {
  content:"OBSERVATIONS";
  color:white;
  font-weight:bold;
  display:block;
}
.Titreobservation > p {
  margin-top:0;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.PAPL:before{
  color:black;
  margin-top:3%;
  margin-bottom:1%;
  background-color:#CCE9FF;
  display:block;
  content:"POUR ALLER PLUS LOIN ....";
}
.PAPL p:before{
  content:"> ";
  color:black;
  font-weight:bold;
}
.PAPL{
  color:black;
  background-color:#CCE9FF;
  color:black;
  font-weight:bold;
  margin-bottom:3%;
  box-shadow: 10px 10px 5px #888888;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Refcode:before{
  display:inline;
  color:black;
  content:attr(data-xml-type) " ";
}
.FPRO .Refcode:before{
  display:inline;
  color:black;
  content: "("attr(data-xml-type) ". ";
}
.FPRO .Refcode[data-xml-code="PXCT2"]:before{
  display:inline;
  color:black;
    text-transform: lowercase;
  content: "(C. trav., "attr(data-xml-type) ". ";
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Refjrp{
  color:black;
}
/*
xhtml/EE_X5005_FP_Lesobligationslegalesduchefdentreprise.fm.html
*/
.Refna{
  color:black;
}
/*
xhtml/EE_X5005_FP_Lesobligationslegalesduchefdentreprise.fm.html
*/
.Reftexte{
  display:inline;
  color:black;
  font-style:italic;
} /*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Remarque{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Renvoi{
  color:black;
}
.Renvoi[data-xml-produit]:before{
  content:"[" attr(data-xml-produit) "]";
font-size:0.8em;
}
/*
xhtml/EE_X5011_FP_Lesaccordsdentreprise.fm.html
*/
.Revision{
  color:#ff00ff;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Row{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.table{
  color:black;
  border:1pt solid;
}
.table table thead{
  font-weight:bold;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Tbl{
  color:black;
}
.Tbl .table {
  border:0pt solid black;
}
.Tbl .table table {
  border:0pt solid black;
  border-collapse: collapse;
  width:auto;
}
.Tbl .table table tr td {
  border:1pt solid black;
}
.Tbl .table table tr:nth-child(even){
background-color: #f2f2f2;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Tbody{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Tet1niv{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Tgroup{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Thead{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Ti1:before{
  counter-increment:ti1;
  content:counter(ti1) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Ti1{
  color:#4DB0FF;
  font-weight:bold;
  display:list-item;
  margin-top:3%;
  margin-bottom:3%;
  counter-reset:ti2;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Ti2:before{
  counter-increment:ti2;
  content:counter(ti2) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Ti2{
  color:#4DB0FF;
  font-weight:normal;
  display:list-item;
  margin-top:3%;
  margin-bottom:3%;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Tifp{
  display:block;
  font-family:Univers 47 CondensedLight;
  font-weight:bold;
  font-style:normal;
  font-size:2em;
  font-stretch:normal;
  color:#1A527F;
  text-align:left;
  line-height:100.0%;
  word-spacing:0.25em;
  margin-left:0.0in;
  text-indent:0.0in;
  margin-right:0.0in;
  margin-top:0.0pt;
}
.Titrefiche{
  display:block;
  font-family:Univers 47 CondensedLight;
  font-weight:700;
  font-style:normal;
  font-size:3em;
  font-stretch:normal;
  color:#00007f;
  text-align:left;
  line-height:100.0%;
  word-spacing:0.25em;
}
div.Titrefiche + p {
  color:#4DB0FF;
  margin-top:2%;
}
.Soustitrefiche{
  display:block;
  font-family:Univers 47 CondensedLight;
  font-weight:700;
  font-style:normal;
  font-size:2.5em;
  font-stretch:normal;
  color:#00007f;
  text-align:left;
  line-height:100.0%;
  word-spacing:0.25em;
}
div.Soustitrefiche + p {
  color:#4DB0FF;
  margin-top:2%;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.Tiobs{
  color:black;
}
/*
xhtml/EE_X5016_FP_Leroleducomitedentrepriseenmatieredeformation.fm.html
*/
.Titbl{
  color:black;
}
/*
xhtml/EE_X5005_FP_Lesobligationslegalesduchefdentreprise.fm.html
*/
.Veuro{
  color:black;
}
/*
xhtml/EE_X5008_FP_Questactionformationprofcontinue.fm.html
*/
.Vmultiplie{
  color:black;
}
/*
xhtml/EE_X5002_FP_Lagestiondescompetencesauservicedelacompetitivite.fm.html
*/
.XSIT{
  color:black;
}
/*
xhtml/EE_X5003_FP_Lagestiondesqualificationsauservicedudeveloppementdelentreprise.fm.html
*/
.Xacode:before,
.Xacodes:before{
  display:inline;
  color:black;
  content:attr(data-xml-type) attr(data-xml-num);
}
.FPRO .Xacode:before,
.FPRO .Xacodes:before{
  display:inline;
  color:black;
  content: attr(data-xml-type) attr(data-xml-num);
}
.FPRO .Xacode:after,
.FPRO .Xacodes:after{
  display:inline;
  color:black;
  content: ")"
}
.Xacode,
.Xacodes{
  display:inline;
  color:black;
}
.Dtif {
  font-size:1.1em;
  color:#4DB0FF;
  font-weight:bold;
  margin-top:1%;
}
.Titre3 {
  font-size:0.9em;
  font-weight:bold;
  margin-top:1%;
  margin-bottom:1%;
}
.Fiche[data-xml-numfiche]:before{
  content: "(" attr(data-xfe-label) " " attr(data-xml-partie) " N° " attr(data-xml-numfiche)  ")";
  text-transform:lowercase;
  font-style:italic;
}
.Fiche[data-xml-titre]:before{
  content: "(" attr(data-xfe-label) " " attr(data-xml-partie) " : " attr(data-xml-titre) ")";
  text-transform:lowercase;
}
.Fiche[data-xml-numfiche][data-xml-titre]:before{
  content: "(" attr(data-xfe-label) " " attr(data-xml-partie) " N° " attr(data-xml-numfiche) " : " attr(data-xml-titre)  ")";
  text-transform:lowercase;
  font-style:italic;
}
.Renvoiexterne{
  font-style:italic;
}
span.Nomdp[data-xml-dp]:after{
content:"[" attr(data-xml-dp) "]";
font-size:0.8em;
}
span.Tietudefiche[data-xml-idref]:after{
content:"[" attr(data-xml-idref) "]";
font-size:0.8em;
}
/*
xhtml/EE_X5246_MT_planformationentplusdixsalarie.fm.html
*/
.Ajout {
  display:inline;
  padding-left:1%;
  padding-right:1%;
  border-bottom:1pt solid black;
  content : "Ajout";
  color:#B3DDFF;
  font-weight:bold;
}
.Blocajouts {
  border:1pt solid black;
  margin-left:1%;
  margin-right:1%;
}
/*
xhtml/EE_X5246_MT_planformationentplusdixsalarie.fm.html
*/
td .Tet1niv {
  font-weight:bold;
  font-style:italic;
}
td .Tet2niv {
  font-style:italic;
}
td .Tet3niv {
  font-style:italic;
}
.GPNT {
  color:graytext;
}
/*
xhtml/EE_X5246_MT_planformationentplusdixsalarie.fm.html
*/
.Precision:before 
{
  content: ".....(" ;
  font-style:italic;
}
.Precision[data-xml-carnet]:before 
{
  content: ".....(" attr(data-xml-carnet);
  font-style:italic;
}
.Precision:after{
  content:") "
}
.Precision {
  font-style:italic;
}
.Precision .Precision:after {
  content:"";
}
.Precision .Precision:before {
  content:"";
}
.Precision .Precision[data-xml-carnet]:before 
{
  content: " " attr(data-xml-carnet);
  font-style:italic;
}
/*
xhtml/EE_X5246_MT_planformationentplusdixsalarie.fm.html
*/
.Titrepapl:before{
  color:black;
  margin-top:3%;
  background-color:#CCE9FF;
  display:block;
  content:"POUR ALLER PLUS LOIN ....";
  font-weight:bold;
}
.Titrepapl img 
{
display:none;
}
.Alpapl{
  color:black;
  background-color:#CCE9FF;
}
.Veuro:before
{
  display:inline;
  content:" €";
  font-size:medium;
}
.Veuro 
{
  font-size:0; 
}

/*
xhtml/EE_X5253_MT_congeindividueldemandeautorisation.fm.html
*/
.Typelettre 
{
  color:red;
}
.Objet:before 
{
  content:"Objet : ";
}
.Appelcommentaire:before 
{
  content:" (";
}
.Appelcommentaire:after 
{
  content:")";
}
.Appelcommentaire 
{
color:gray;
  font-style:oblique;
}
.Option 
{
  color:green;
}
.DPFORM2{

}
.Expediteur{

}
.Alexpediteur{

}
.Date{

  text-align: right;
  margin-right: 30%;
}
.Destinataire{

  text-align: right;
}
.Aldestinataire{

}
.Commentaire{

}
.Signature{

}
.Alsignature{

}
.Signaturemasque{

}
.Blocoptions{

}
.Aloption{

}
.tgroup{

}
.first{

}
.cals_cals{

}
.cals_frame{

}
.cals_orient{

}
.full_width_table{

}
.Tet3niv{

}
.cals_odd{

}
.cals_even{

}
.Alajout{

}
.table-contents-font-reduction{

}
.Tet2niv{

}
.Altiretoption{

}
.Alcommentaire{

}
.Fixe{

}
.Soussignes{

}
.Articleniv1{

}
.Blocsousoptions{

}
.Tetverticale{

}
.B{

}
.Alsignaturemasque{

}
.Articleniv2{

}
/* FP */
.Table{

}
.Nomdp{

}
.Tietudefiche{

}
/* FPRO */

.INTROFPRO{

}
.RefCCN{

}
.Libre1{

}
.CCN{

}
.Libre2{

}
.TABLEAU{

}
.COURANT{

}
.LIGNE{

}
.CELLULE{

}
.IN{

}
.Saisie{

}
.AppelNT{

}
.NT{

}
.Ndlr{

}
.AlNT{

}
.Avertissement{

}
.Alavertissement{

}
.Introavertissement{

}
.AlIntroavertissement{

}
/* QR */
.QR{

}
.Tiqr{
display:block;
  font-family:Univers 47 CondensedLight;
  font-weight:bold;
  font-style:normal;
  font-size:2em;
  font-stretch:normal;
  color:#1A527F;
  text-align:left;
  line-height:100.0%;
  word-spacing:0.25em;
  margin-left:0.0in;
  text-indent:0.0in;
  margin-right:0.0in;
  margin-top:0.0pt;
}
.Quest{
  display:block;
  font-family:Univers 47 CondensedLight;
  font-weight:bold;
  font-style:normal;
  font-size:1.5em;
  font-stretch:normal;
  color:#00007f;
  text-align:left;
  line-height:100.0%;
  word-spacing:0.25em;
}