html.page {
  background: #e3e3e3; }

html.page body {
  width: 902px;
  margin: 20px auto 0;
  border: 1px solid #cccccc;
  padding: 40px 60px;
}

body{
	counter-reset: pNum title note noteTable;
  font-size:14px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding-bottom:38px;
  line-height: 1.3em;
}

a {
	color:#417dbb;
	text-decoration: underline;
	border-bottom:none;
}

span:not(.annotation):not(.del):not(.ins) {
	position:relative;
	border-bottom:1px dotted #417dbb;
}

/* Numérotation titre */

h1 {
	position:relative;
	counter-reset: sub-h2 sub-h3 sub-h4 sub-h5 sub-h6;
	counter-increment: title;
	text-align:left;
}

h1:before {
	content: "["counter(title)"] ";
	font-weight: bold;
	color:#aaa;
}

h2 {
	position:relative;
	counter-increment: sub-h2;
	counter-reset: sub-h3 sub-h4 sub-h5 sub-h6;
	text-align:left;
}

h2:before {
	content: "[" counter(title) "." counter(sub-h2) "] ";
	color:#aaa;
}

h3 {
	position:relative;
	counter-increment: sub-h3;
	counter-reset: sub-h4 sub-h5 sub-h6;
	text-align:left;
}

h3:before {
	content: "[" counter(title) "." counter(sub-h2) "." counter(sub-h3) "] ";
	color:#aaa;
}

h4 {
	position:relative;
	counter-increment: sub-h4;
	counter-reset: sub-h5 sub-h6;
	text-align:left;
}

h4:before {
	content: "[" counter(title) "." counter(sub-h2) "." counter(sub-h3) "." counter(sub-h4) "] ";
	color:#aaa;
}

h5 {
	position:relative;
	counter-increment: sub-h5;
	counter-reset: sub-h6;
	text-align:left;
}

h5:before {
	content: "[" counter(title) "." counter(sub-h2) "." counter(sub-h3) "." counter(sub-h4) "." counter(sub-h5) "] ";
	color:#aaa;
}

h6 {
	position:relative;
	counter-increment: sub-h6;
	text-align:left;
}

h6:before {
	content: "[" counter(title) "." counter(sub-h2) "." counter(sub-h3) "." counter(sub-h4) "." counter(sub-h5) "." counter(sub-h5) "] ";
	color:#aaa;
}

body > div.titre { 
	text-align:center; 
	font-size: 36px; 
	line-height: 1.5; 
	margin-bottom:15px; 
}

body > div.titre h1 { 
	line-height: 39px;
	font-size: 28px;
	text-align:left; 
}
body > div.titre h2 { 
	line-height: 30px;
	font-size: 21px;
	text-align:left;
}
body > div.titre h3 { 
	line-height: 23px;
	font-size: 16.38px;
	text-align:left;
}
body > div.titre h4 { 
	line-height: 20px;
	font-size: 14px;
	text-align:left;
}
body > div.titre h5 { 
	line-height: 16px;
	font-size: 11.62px;
	text-align:left;
}
body > div.titre h6 { 
	line-height: 13px;
	font-size: 9.38px;
	text-align:left;
}

.blocTableau {
	position:relative;
	margin:20px 0;
	z-index:5;
}

.blocTableau:before {
	border:2px solid #aaa;
	position:absolute;
	content:"";
	top: -8px;
	bottom: -8px;
	left: -5px;
	right: -5px;
	z-index:-1;
}

.blocTableau .titre {
	font-size: 21px;
	text-align:center;
	font-weight: bold;
	margin-bottom:10px;
}

figure {
	margin:0;
}

/* .xfe_note {
	counter-increment: note;
	text-decoration: none;
	cursor:pointer;
	padding:0 3px;
}

.xfe_note:before {
	content: "["counter(note)"]";
	vertical-align: super;
	font-size: 10px;
	text-decoration: none;
	color:#417DBB;
	font-weight: bold;
	line-height: 0;
} */

table {
	counter-reset: noteTable;
}

table .xfe_note {
	counter-increment: noteTable;
	text-decoration: none;
	cursor:pointer;
	padding:0 3px;
}

table .xfe_note:before {
	content: "["counter(noteTable)"]";
	vertical-align: super;
	font-size: 11px;
	text-decoration: none;
	color:#417DBB;
	font-weight: bold;
	line-height: 0;
}

span:after {
	content: attr(class);
	display: none;
}

/* DEBUT DE LA ZONE AJOUTEE */

.nonAffiche {
    color: yellow;
    font-size: 1.81em;
}

/* * {
    display: inline; 
}*/

.TITRE {
    font-size: 15pt ;
}

.CORPS *,
.RESUME * {
    font-size: 12pt ;
}
.DECISION * {
    font-size: 10pt ;
}
.NOPA * {
    font-size: 10pt ;
}

.REVUE::before {
    content: "| Nb de mots : " oxy_xpath("count(tokenize(normalize-space(string-join(descendant::*/text(), '')), ' '))"
										) " |";
}

.REVUE {
    font: 8.5pt roman, 'times new roman', times, serif;
	/*        text-align:justify;*/
}

.TITRE-REVUE {
    display: block; 
    font-weight: bold ;
    font-family: 'Frutiger 47LightCn', 'Arial Narrow', helvetica, sans-serif;
    font-size: 32pt;
}


.REVUE > .CAHIER {
    display: block; 
    counter-reset: page;
    counter-reset: anote;
    counter-reset: footnote;
    color: black;
    margin-top: 30pt;
    padding-top: 10pt;
    border-top: 5pt solid black ;
    font-size:15pt;
    font-weight:bold;
}

.REVUE > .CAHIER > .DATE-CAHIER::before  { 
    color: red;
    content: "   (date de publication : " ; 
}
.REVUE > .CAHIER > .NUM-CAHIER::before    { 
    color: red;
    content: ", cahier n° "  ; 
}
.REVUE > .CAHIER > .NUM-CAHIER::after    { 
    color: red;
    content: ")"  ; 
}

.NUM-CAHIER > .NUM {
	display: inline;
}

.ARTICLE::before {
    display: block; 
    margin-top: 15pt;
    font-size: 10pt ;
    color: red;
    font-weight: bold ;
    content:    "\A" oxy_xpath('/REVUE/@ID') ". " oxy_xpath('/REVUE/CAHIER/ANNEE/text()') ". " oxy_xpath('METAS/FOLIO/@DEB') ;  
}

.ARTICLE {
    display: block; 
    font: 9pt roman, 'times new roman', times, serif;
	/*        text-align:justify;*/
    counter-reset: page;
    counter-reset: footnote;
    counter-reset: anote;
    font-weight:normal;
    border-top: 2pt solid black ;
    /* color: blue; */
    content:    "\A Document n° :           " attr(ID) 
											  "\A Identifiant logique :   [ " attr(ID_LOGIC) " ]" 
											  "\A Type principal :        [ " attr(TYPE) " ]" 
											  "\A Type de doc. :           [ " attr(TYPE2) " ]" 
											  "\A État de l'article :        [ " attr(ETAT) " ]"
											  "\A Version :                   [ " attr(VERSION) " ]" ;
}


.METAS {
    display: block; 
    margin-top: 10pt;
    color: red;
    font: 9pt roman, 'times new roman', times, serif;
    font-weight: bold ;
}
.METAS > .NUM-ART {
    display: block; 
    font-size: 12pt ;
    color: black;
	border-style: solid ;
	border-width: 2pt ;
	text-align: center;
}
.NUM-ART::before {
	content: "Art. n° " ; 
}


.METAS > .FOLIO {
    color: blue;
    content: "FOLIO : [" attr(DEB) "]"; 
}

.METAS > .FOLIO[POSITION] {
    font-weight: normal ;
    content: "FOLIO : [" attr(DEB) "]" " - " attr(POSITION) ;
}

.METAS > .FOLIO[FIN]::after {
    font-size: 8.5pt ;
    font-weight: normal ;
    content: "\A     fin :     [" attr(FIN) "]" ; 
}


.NAVIGATION::before {
	display: block ; 
	margin-top: 8pt ;
	font: 10pt roman, 'times new roman', times, serif ;
	font-weight: bold ;
	content: "NAVIGATION :" ; 
}


.NAVIGATION::after {
    font-size: 7.2pt ;
    font-weight: normal ;
}
.NAVIGATION[PREC]::after {content: "\A     article précédent :   [" attr(PREC) "]" ;}
.NAVIGATION[SUIV]::after { content: "\A     article suivant :   [" attr(SUIV) "]"  ;}
.NAVIGATION[PREC][SUIV]::after { content: "\A     article précédent : [" attr(PREC) "]" 
																		 "\A     article suivant :     [" attr(SUIV) "]"  ;}




.RENVOIS {
    display: block ; 
    margin-top: 8pt;
    font: 10pt roman, 'times new roman', times, serif;
    font-weight: bold ;
    content: "RENVOIS :" ; 
}

.ORIGINE {
    display: block ; 
    margin-top: 4pt;
    font: 9.2pt roman, 'times new roman', times, serif;
    content: "    Document original :" ; 
}

.RENV-DOCT {
    display: block ; 
    margin-top: 4pt;
    font: 9.2pt roman, 'times new roman', times, serif;
    content: "    Vers la doctrine :" ; 
}

.RENV-JURIS {
    display: block ; 
    margin-top: 4pt;
    font: 9.2pt roman, 'times new roman', times, serif;
    content: "    Vers la jurisprudence :" ; 
}

.RENV-LEGIS {
    display: block ; 
    margin-top: 4pt;
    font: 9.2pt roman, 'times new roman', times, serif;
    content: "    Vers la législation :" ; 
}

.ALIAS,
.LIENDOCT,
.LIENJUR,
.LIENLEG {
    color: black ;
    display: block ; 
    font-size: 8pt ;
    font-weight: normal ;
}

.ALIAS {
    background-color: rgb(200,240,250);
}

.ALIAS::before { color: red; }
.LIENJUR::before { color: red; }
.LIENLEG::before { color: red; }

/* .ALIAS::before { content: "        Précédemment publié dans :   " oxy_xpath('/REVUE/@ID') ". " ;} */
.ALIAS::before   { content: "= Alias : D. " ;}
.LIENJUR::before { content: "        Décision commentée :   " ;}
.LIENLEG::before { content: "        Texte commenté :   " ; }

.ALIAS > .CAHIER > .ANNEE { display: inline ; }
.ALIAS > .FOLIO { display: inline ; }

.ALIAS > .CAHIER { display: inline ; }
.ALIAS > .CAHIER > .DATE-CAHIER { display: inline ;}
.ALIAS > .CAHIER > .NUM-CAHIER { display: inline ;}

.ALIAS > .CAHIER > .DATE-CAHIER::before { color: red; }
.ALIAS > .CAHIER > .NUM-CAHIER::before { color: red; }
.ALIAS > .CAHIER > .NUM-CAHIER::after { color: red; }

.ALIAS > .CAHIER > .DATE-CAHIER::before { content: ", du " ;}
.ALIAS > .CAHIER > .NUM-CAHIER::before { content: " (Cahier n° " ; }
.ALIAS > .CAHIER > .NUM-CAHIER::after { content: ")" ; }

.ALIAS > .FOLIO { color:blue; ; }
.ALIAS > .FOLIO[DEB] { content: ". Folio " attr(DEB) ; }
.ALIAS > .FOLIO[DEB][FIN] { content: ". Folios " attr(DEB) " à " attr(FIN) }
.ALIAS > .FOLIO[DEB][POSITION] { content: ". Folio " attr(DEB) " (" attr(POSITION) "°)" }
.ALIAS > .FOLIO[DEB][FIN][POSITION] { content: ". Folios " attr(DEB) " (" attr(POSITION) "°) à " attr(FIN) }


.LIENDOCT[TYPE]::before {
    color:blue;
    content: "        [" attr(TYPE) "] :   " ; 
}
.ALIAS[REFID]::after, 
.LIENDOCT[REFID]::after, 
.LIENJUR[REFID]::after, 
.LIENLEG[REFID]::after {
    content: "    [" attr(REFID) "]"; 
    color: blue ;
    font-size: 8pt ;
}

.LIENJUR[LIENDOCT]::after {
    color:blue;
    content: "    [" attr(LIENDOCT) "]"; 
} 


.INDEX {
    display: block ; 
    margin-top: 8pt ;
    font: 8pt roman, 'times new roman', times, serif ;
    font-weight: bold ;
    white-space: normal ;
}
.INDEX::before {
    color: red ;
    font-size: 10pt ;
    content: "INDEXATION : " ;
}

.NOME {
    display: block ; 
    padding-left: 8pt ;
    margin-top: 4pt ;
    color: black ;
}

.MOCL, 
.DESCRIPT > .MOT {
    display: block ; 
    padding-left: 8pt ;
    font-weight: normal ;
}
.MOCL::before { 
    content: "1. " ;
    color: red ;
}
.MOCL > .MOCL::before { content: "2. " ;}
.MOCL > .MOCL > .MOCL::before { content: "3. " ;}
.MOCL > .MOCL > .MOCL > .MOCL::before { content: "4. " ;}
.MOCL > .MOCL > .MOCL > .MOCL > .MOCL::before { content: "5. " ;}
.DESCRIPT> .MOT::before { content: "- "  ;}



.PARTIE {
    display: block; 
    font: 20pt roman, 'Arial Narrow', helvetica, sans-serif;
	border: 1px solid black;
	margin-top: 15pt;
	margin-bottom: 15pt;
}
.TITRE-PART::before {
    content: " ";
}
.TITRE-PART {
    display: block; 
    /* margin-top: 15pt; */
    background-color: red;
	text-align:center;
    font-weight: bold ;
    color:white;
    white-space: pre;
    /* width:300pt ; */
    
}


.SPARTIE {
    display: block; 
	text-align:center;
    font-size: 15pt;
    font-weight: bold ;
    color: red ;
}

.PARTIE> .INTRO,
.PARTIE> .SIGNATURES {
    display: block; 
    margin-top: 5pt;
    
    color: black;
    font-size: 10pt;
}



.RUBRIQUE {
    display: block; 
    color: black;
    font: 15pt roman, 'Arial Narrow', helvetica, sans-serif;
}
.TITRE-RUBR::before {
    content: " ";
}
.TITRE-RUBR {
    display: block; 
    padding-left: 5pt;
    border-left: 5pt solid red ;
    font-weight: bold ;
}

.SRUBR::before {
    content: " ";
}
.SRUBR {
    display: block; 
    padding-left: 5pt;
    border-left: 5pt solid black ;
    
    font-size: 12pt ;
}

.RUBRIQUE> .INTRO,
.RUBRIQUE> .SIGNATURES {
    display: block; 
    margin-top: 5pt;
    
    font-size: 10pt ;
}



.INTITULE {
    display: block; 
    color: black;
    font: 15pt roman, 'Arial Narrow', helvetica, sans-serif;
}
.TITRE-ART {
    display: block; 
    margin-top: 15pt;
	text-align: center;
    font-weight: bold ;
    font-size: 20pt ;
}
.DOSSIER> .INTITULE> .TITRE-ART {
    border : black solid thin;
}
.ARTICLE> .INTITULE> .TITRE-ART::before {
    content: "\25A0 " ;
}

.STITRE {
    display: block; 
    margin-top: 10pt;
    
    font-size: 12pt ;
}

.RUBR-INTRO,
.RUBRIQUE> .SIGNATURES {
    display: block; 
    margin-top: 5pt;
    
    font-size: 10pt ;
}






.CAHIER,
.DOSSIER,
.ARTICLE,
.METAS,
.INDEX,
.PARTIE,
.RUBRIQUE,
.SIGNATURES,
.RESUME,
.DECISION,
.SOMMAIRE,
.INTEGRAL,
.CORPS, 
.BIBLIO, 
.DEVLPMT, 
.CORPS,
.P,
.NOTES {
    -oxy-foldable:true;
    -oxy-not-foldable-child: DATE-CAHIER, TITRE-PART, TITRE-RUBR, TITRE, FOLIO, INTITULE;
}


.RESUME[LIB]::before,
.CORPS[LIB]::before,
.DECISION[LIB]::before,
.SOMMAIRE[LIB]::before,
.INTEGRAL[LIB]::before,
.BIBLIOGRAPHIE[LIB]::before {
    content: "<" oxy_xpath('name()') ">" "\A" attr(LIB) ;
    display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    text-align: center ;
    background-color: gray ;
    font-weight: bold ;
    font-size: 1.5em; 
    color: blue;
}

.PARTIE::before, 
.RUBRIQUE::before, 
.INTITULE::before, 
.RESUME::before,
.CORPS::before, 
.NOTES::before,
.DECISION::before,
.SOMMAIRE::before,
.INTEGRAL::before,
.SIGNATURES::before,
.BIBLIOGRAPHIE::before,
.COLLOQUE::before {
    display: block ; 
    margin-top: 10pt ;
    text-align: center ;
    background-color: gray;
    font-size: 12pt ;
    font-weight: bold ;
    content: "<" oxy_xpath('name()') ">" ;
}
 
.DEVLPMT::before{
    display: block ; 
    margin-top: 10pt ;
    text-align: center ;
    /* background-color: gray; */
    font-size: 12pt ;
    font-weight: bold ;
	content: attr(data-voidancestors);
}



.LIENJUR .DATE::before {
    content: ", ";
    color: red ;
}

.LIENJUR > .NAFF::before {
    content: ", n° ";
    color: red ;
}
.LIENJUR > .NAFF + .NAFF::before {
    content: ", ";
    color: red ;
}


.DECISION,
.ESPECE {
    color: black;
    margin-top: 15pt;
}

.NUM-ESPECE {
    background-color: fuchsia;
    padding-left: 5pt;
    padding-right: 5pt;
    font-weight: bold;
}

.PARADECI {
    display: block ; 
    background-color: rgb(230,200,200);
    margin-left: 0pt;
    padding-left: 15pt;
    padding-right: 5pt;
}


.JURIDIC, .JURI, .CHAM {
    display: inline ; 
}


.PARADECI > .JURIDIC > .JURI,
.PARADECI > .JURIDIC > .CHAM,
.PARADECI > .JURIDIC > .DATE {
	text-decoration: underline;
}

.PARADECI > .JURIDIC > .NAFF {
	text-decoration: underline;
	text-decoration-style: dotted;
}


.ATTA > .JURIDIC > .JURI,
.ATTA > .JURIDIC > .CHAM,
.ATTA > .JURIDIC > .DATE {
	text-decoration: underline;
}

.PARADECI > .JURIDIC,
.PARADECI > .DATE,
.PARADECI > .NAFF,
.PARADECI > .PUBLI {
    margin-top: 10pt;
    font-weight: bold;
    color: red;
}


.PARADECI > .ATTA {
    font-weight: bold;
    margin-left: 1em;
}

.PARADECI > .FONDLEG {
    margin-left: 1em;
}

.TEXTELEG {
    margin-left: 1em;
}


.PARADECI > .JURIDIC::before {
    content: "> ";
    font-weight: bold;
    color: red;
}

.CHAM::before {
    content: " ";
}

.PUBLI::before {
    content: " ";
}

.PART {
    font-style: italic ;
}
.DEMA + .DEMA::before{
    content: " ; ";
    color: red;
}
.DEFE + .DEFE::before{
    content: " ; ";
    color: red;
}
.DEMA + .DEFE::before{
    content: " c/ ";
    color: red;
}

.CODE + .CODE::before{
    content: " ; ";
    color: red;
}
.CODE + .CODE::before{
    content: " ; ";
    color: red;
}

.CODE {
	display: inline;
}

.CODE > .TITRCODE {
	display: inline;
}

.CODE > .ARTICLES {
	display: inline;
}

.TEXTELEG + .TEXTELEG::before{
    content: " ; ";
}
.CODES + .TEXTESLEG::before{
    content: " ; ";
    color: red;
}
.TEXTESLEG + .CODES::before{
    content: " ; ";
    color: red;
}

.ARTICLES::before {
    content: ", art. ";
    color: red;
}

/* .NUME::before {
    content: " n° ";
    color: red;
} */

.NATX + .DATE::before {
    content: " du ";
    color: red;
}

.NUME + .DATE::before {
    content: " du ";
}

.COMPL::before {
    content: ", ";
    color: red;
}

.SOMMAIRE,
.INTEGRAL {
    color: black;
}
.INTEGRAL-TITRE {
    display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    text-align: center ;
    background-color: red ;
    font-weight: bold ;
    font-size: 1.5em; 
}

.TITRE-DECI {
    display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    text-align: center ;
    background-color: red ;
    font-weight: bold ;
}
.RAPPEL-DECI {
    display: block;
    margin-top: 5pt;
    font-style: italic ;
}



.RESUME {
    display: block; 
    margin-top: 10pt ;
    margin-left: 20pt ;
    color: black ;
    font: 9pt roman, 'Arial Narrow', helvetica, sans-serif ;
    font-style: italic ;
}


.CORPS {
    display: block; 
    margin-top: 10pt;
    color: black;
    font: 9pt roman, 'Arial Narrow', helvetica, sans-serif;
}


.BIBLIOGRAPHIE {
    display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    color: black;
}

.BIBLIO-LIB {
    display: block;
    margin-top: 5pt;
    font-weight: bold ;
    background-color: rgb(184,224,140);
}
.BIB-OUVRAGE,
.BIB-REVUES,
.BIB-ENCYCLO {
    display: block;
    margin-left: 0.2cm;
    text-indent: -0.2cm;
    background-color: rgb(184,224,140);
}

.BIB-OUVRAGE::before,
.BIB-REVUES::before,
.BIB-ENCYCLO::before {
    content: "• ";
}


.COLLOQUE {
    display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    color: black;
}
.COLL-TIT {
    display: block;
    margin-top: 5pt;
    font-weight: bold ;
    background-color: rgb(251,212,180);
}
.COLL-DATE,
.COLL-LIEU,
.COLL-SITE,
.COLL-RENS,
.COLLOQUE > .COMPL {
    display: block;
    margin-left: 0.2cm;
    text-indent: -0.2cm;
    background-color: rgb(251,212,180);
}

.COLL-DATE::before {
    content: "Date : ";
    font-weight: bold ;
    color: red;
}
.COLL-LIEU::before {
    content: "Lieu : ";
    font-weight: bold ;
    color: red;
}
.COLL-SITE::before {
    content: "Site internet : ";
    font-weight: bold ;
    color: red;
}
.COLL-RENS::before {
    content: "Renseignements : ";
    font-weight: bold ;
    color: red;
}
.COLL-DATE[LIB]::before,
.COLL-LIEU[LIB]::before,
.COLL-SITE[LIB]::before,
.COLL-RENS[LIB]::before {
    content: attr(LIB) " : ";
    font-weight: bold ;
    color: blue;
}
.COLLOQUE > .COMPL::before {
    content: "";
}

.SIGNATURES {
    display: block; 
    margin-top: 5pt;

    font: 10pt roman, 'Arial Narrow', helvetica, sans-serif;
    color: black;
}

.DEVLPMT > .SIGNATURE {
    display: block; 
    margin-top: 3pt;
	text-align: right;
    font: 10pt roman, 'Arial Narrow', helvetica, sans-serif;
    color: black;
    font-weight: bold ;
}

.SIGNATURES > .INTROSIGN,
.SIGNATURE {
    display: block; 
    margin-top: 3pt;
}

.SIGNATURE > .INTROSIGN,
.INTROSIGN + .AUTEUR {
    display: inline; 
    font-weight: bold ;
}
.AUTEUR {
    display: block; 
    font-weight: bold ;
}
.SIGNATURE:first-child .AUTEUR:first-child::before {
    content: "par " ;
    color: red;
}

.INTROSIGN::after {
    content: " ";
}

.PRENOM + .NOM::before,
.NOM + .PRENOM::before {
    content: " ";
}
.PRENOM + .NOM::after,
.NOM + .PRENOM::after {
    content: "\A";
    white-space: pre ;
}

.PRENOM {
	text-decoration: underline;
}

.NOM {
	text-decoration: underline;
	font-variant: small-caps;
    /* text-decoration-style:double; */
}

.QUALITE {
    display: inline;
    font-weight: normal ;
	font-style: italic;
}
.QUALITE + .QUALITE::before{
    content: ", ";
}



.TITRE { 
    display: block; 
    page-break-after: avoid;
    text-align:left;
    color: black ;
}

.TITRE[NIVEAU]::before {
    display: block; 
    text-align: center ;
    background-color: gray ;
    color: blue;
    font-weight: bold ;
    content: "<TITRE NIVEAU=\"" attr(NIVEAU) "\">";
}
.TABLEAU .TITRE[NIVEAU]::before {
    display: none ;
}

.TITRE[NIVEAU='0'] {
    text-align: center ;
    margin-top: 20pt;
    margin-bottom: 5pt;
    font-variant: small-caps;
    font-weight: bold ;
    font-size: 2em ;
    color: red;
}

.TITRE[NIVEAU='1'] {
    text-align: center;
    margin-top: 18pt;
    margin-bottom: 5pt;
    font-size: 2em ;
    font-weight: bold ;
    text-decoration: underline ;
}

.TITRE[NIVEAU='2'] {
    text-align: center ;
    margin-top: 16pt;
    margin-bottom: 5pt;
    font-size: 1.8em ;
    font-weight: bold ;
    font-style: italic ;
}

.TITRE[NIVEAU='3'] {
    text-align: center ;
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
}

.TITRE[NIVEAU='4'] {
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
}

.TITRE[NIVEAU='5'] {
    margin-top: 12pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
    font-style: italic ;
}


.TITRE[NIVEAU='6'] {
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
}

.TITRE[NIVEAU='7'] {
    margin-top: 10pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-weight: bold ;
    text-decoration: underline ;
}

.TITRE[NIVEAU='8'] {
    margin-top: 8pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-style: italic ;
    text-decoration: underline ;
}

.TITRE[NIVEAU='9'] {
    margin-top: 7pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1em ;
    text-decoration: underline ;
}


.xfe_title-1 {
	display: block;
    text-align: center;
    margin-top: 18pt;
    margin-bottom: 5pt;
    font-size: 2em ;
    font-weight: bold ;
	color: red;
}


.xfe_title-2 {
	display: block;
    text-align: center ;
    margin-top: 16pt;
    margin-bottom: 5pt;
    font-size: 1.8em ;
    font-weight: bold ;
    text-decoration: underline ;
}

.xfe_title-3 {
	display: block;
    text-align: center ;
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
}

.xfe_title-4 {
	display: block;
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
}

.xfe_title-5 {
	display: block;
    margin-top: 12pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
    font-style: italic ;
}


.xfe_title-6 {
	display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
}

.xfe_title-7 {
	display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-weight: bold ;
    text-decoration: underline ;
}

.xfe_title-8 {
	display: block;
    margin-top: 8pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-style: italic ;
    text-decoration: underline ;
}

.xfe_title-9 {
	display: block;
    margin-top: 7pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1em ;
    text-decoration: underline ;
}


.xfe_title-1[data-xml-style="encadre"] {
	display: block;
    text-align: center ;
    margin-top: 16pt;
    margin-bottom: 5pt;
    font-size: 1.8em ;
    font-weight: bold ;
	color: red;
    font-style: italic ;
	border: 1px solid black;
}


.xfe_title-2[data-xml-style="encadre"] {
	display: block;
    text-align: center ;
    margin-top: 16pt;
    margin-bottom: 5pt;
    font-size: 1.8em ;
    font-weight: bold ;
	color: red;
    font-style: italic ;
	border: 1px solid black;
}

.xfe_title-3[data-xml-style="encadre"] {
	display: block;
    text-align: center ;
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
	color: red;
	border: 1px solid black;
}

.xfe_title-4[data-xml-style="encadre"] {
	display: block;
    margin-top: 14pt;
    margin-bottom: 5pt;
    font-size: 1.6em ;
    font-weight: bold ;
	color: red;
	border: 1px solid black;
}

.xfe_title-5[data-xml-style="encadre"] {
	display: block;
    margin-top: 12pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
    font-style: italic ;
	color: red;
	border: 1px solid black;
}


.xfe_title-6[data-xml-style="encadre"] {
	display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    font-size: 1.5em ;
	color: red;
	border: 1px solid black;
}

.xfe_title-7[data-xml-style="encadre"] {
	display: block;
    margin-top: 10pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-weight: bold ;
	color: red;
    text-decoration: underline ;
	border: 1px solid black;
}

.xfe_title-8[data-xml-style="encadre"] {
	display: block;
    margin-top: 8pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1.1em ;
    font-style: italic ;
	color: red;
    text-decoration: underline ;
	border: 1px solid black;
}

.xfe_title-9[data-xml-style="encadre"] {
	display: block;
    margin-top: 7pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    font-size: 1em ;
	color: red;
    text-decoration: underline ;
	border: 1px solid black;
}

p[data-xml-style="encadre"] {
	display: block;
	border: 1px solid black;
}

ul[data-xml-style="encadre"] {
	border: 1px solid black;
}

ol[data-xml-style="encadre"] {
	border: 1px solid black;
}

p[data-xml-style="plusloin"] {
	display: block;
}


.INTEGRAL .TITRE[NIVEAU],
.TABLEAU .TITRE[NIVEAU] {
    text-align: left ;
    text-decoration: none ;
    font-size: 1em ;
}

/*P {
    display: block;
    margin-top: 5pt;
    text-indent: 10pt;
}*/
/*P::before {
    display: inline;
    background-color: silver ;
    content: "<p>";
}*/

p[ESPACE="OUI"] {
    margin-top: 10pt;
}

*[JUSTIF="DROITE"],
*[JUSTIF="RIGHT"],
*[align="right"],
*[ALIGN="right"]{
    text-align: right;
}
*[JUSTIF="GAUCHE"],
*[JUSTIF="LEFT"],
*[align="left"],
*[ALIGN="left"]{
    text-align: left;
}
*[JUSTIF="CENTRE"],
*[JUSTIF="CENTER"],
*[align="center"],
*[ALIGN="center"]{
    text-align: center;
}
*[JUSTIF="JUSTIFIE"],
*[JUSTIF="JUSTIFY"],
*[align="justify"],
*[ALIGN="justify"]{
	/*    text-align: justify;*/
}

*[FACE="Helvetica 95 Black"] {
    font-family: attr(FACE), 'Arial Black', helvetica, sans-serif;
}
*[FACE="Helvetica 55 Frutiger"] {
    font-family: attr(FACE), 'Arial Narrow', helvetica, sans-serif;
}

*[COLOR] {
    color: attr(COLOR);
}

*[IMPORTANCE="NON"] {
    font-size: 0.8em;
}

.SAUT,
.BR {
    display: block;
}

.TITP { 
    font-weight: bold; 
    font-size: 1em;
}
.MEV {
    background-color: rgb(200,240,250);
}
.IND {
    vertical-align: sub;
    font-size: 0.6em;
    line-height: none;
}
.EXP {
    vertical-align: super;
    font-size: 0.6em;
    line-height: none;
}
.GRAS { 
    font-weight: bold; 
    font-size: 1em;
}
.ITAL { 
    font-style: italic; 
    font-size: 1em;
}

.RESUME .ITAL,
.TITRE[NIVEAU='4'] > .ITAL  { 
    font-style: normal; 
}

.PTCAP { font-variant: small-caps; }
.CAP { text-transform: uppercase; }
.ROMA { font-family: roman, 'times new roman', times, serif; }
.PUCE::after { content: "•" ; }

.REF {
    font-size: 1em;
    text-decoration: underline; 
}
.REFER { 
    font-weight: bold;
    font-size: 1em;
    color:#444;
}

.SAUT[ESPACE="1"]::after { content: " "; }
.SAUT[ESPACE="2"]::after { content: "  "; }
.SAUT[ESPACE="3"]::after { content: "   "; }
.SAUT[ESPACE="4"]::after { content: "    "; }
.SAUT[ESPACE="5"]::after { content: "     "; }



.ANOTE { display: inline;}
.ANOTE::before { 
    counter-increment: anote;
    content: counter(anote);
    vertical-align: text-top;
    font-size: 0.6em;
}

.DEVLPMT {
    margin-bottom: 20pt;
}

.NOTES {
    margin-top: 10pt;
    padding-top: 10pt;
    border-top: 1pt solid black ;
    counter-reset: anote;
}
.NOPA { 
    display: block;
    margin-top: 5pt;
    counter-increment: anote;
    font-family: 'Frutiger 45 Light', arial, helvetica, sans-serif;
    font-size: 7.5pt;
    font-weight: normal;
}
.NOPA > p:first-child { 
    display: inline;
}
.NOPA::before { 
    display: inline;
    content: counter(anote);
    vertical-align: super;
}

/* .xfe_note::before, .FOOTNOTE::before { 
    display: inline;
    content: "[" counter(footnote) "] ";
} */
/* .xfe_note::after, .FOOTNOTE::after { 
    display: inline;
    content: "]";
}*/

.FOOTNOTE.xfe_noteRef { 
    display: inline;
	counter-increment: footnote;
    font-family: 'Frutiger 45 Light', arial, helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: none;
}

.FOOTNOTE.xfe_noteRef::after { 
	content: "["counter(footnote)"]";
	vertical-align: super;
	text-decoration: none;
	color:#417DBB;
	font-weight: bold;
	line-height: 0;
}

/* .FOOTNOTE.xfe_noteRef::after { 
    display: inline;
    content: "";
} */



/* .FOOTNOTE { 
    display: inline;
    counter-increment: footnote;
    font-family: 'Frutiger 45 Light', arial, helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: none;
    background-color: rgb(218,238,243) ;
}

.xfe_note{ 
    display: block;
    counter-increment: footnote;
    font-family: 'Frutiger 45 Light', arial, helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: normal;
    line-height: none;
} */


.xfe_notes {
	display: block;
	margin-top: 0.4cm;
}

.xfe_note {
	counter-increment: note;
	text-decoration: none;
	cursor:pointer;
	padding:0 3px;
}

.xfe_note:before {
	content: "["counter(note)"] ";
	vertical-align: super;
	text-decoration: none;
	color:#417DBB;
	font-weight: bold;
	line-height: 0;
}

.xfe_note{ 
    display: block;
}

.xfe_note:before {
	vertical-align: baseline;
}


.xfe_note > p, .FOOTNOTE > p {
    display: inline;
    font-size: 1em;
    margin-top: 0pt ;
}

.xfe_note > p:first-child::before, .FOOTNOTE > p:first-child::before {
    content: "" ;
}
.xfe_note > p::before, .FOOTNOTE > p::before {
    content: "\A" ;
}


.TABLEAU {
    display: block;
    font-size: 0.81em;
}

.FICH-TABLE[FICHIER] { 
    display: block;
    margin-top:10pt;
    content: "Tableau à insérer : " attr(FICHIER); 
    font-weight: bold;
}

.TABLE-CALS, 
.TABLE-HTML,
table {
	display: table;
	border-style:solid ;
	border-width:1pt ;
}
colspec, COLGROUP, col {
	display: none;
}
thead, THEAD {
	display: table-header-group;
}
tbody, TBODY {
	display: table-row-group;
}
tfoot, TFOOT {
	display: table-footer-group;
}
row, TR, tr {
	display: table-row;
	page-break-inside: avoid;
}
entry, TD, TH, td, th {
	display: table-cell;
	border-style:solid ;
	border-width:1px ;
	padding:3pt ;
	page-break-inside: avoid;
}
.TITRES {
	display: table-caption;
}
.TIT1 {
	display: block;
}
.TIT2 {
	display: block;
}
.TIT3 {
	display: block;
}
.TIT4 {
	display: block;
}
.TIT5 {
	display: block;
}
.SOURCE {
	display: table-caption;
	page-break-before: avoid ;
}

.TABLEAU > .SOURCE {
	display: block;
	page-break-before: avoid ;
}

.SOURCES {
    background-color: #B2A1C7;
	border-left: 1px solid black;
	padding-left: 0.2cm;
}

.IMAGE {
	color: yellow;
	font-size: 1.81em;
}
.FICH-IMAGE[FICHIER] {
	content: attr(FICHIER, url); 
	width:  attr(LARGEUR) ;
}
.EQ {
	color: yellow;
	font-size: 1.81em;
}

*[data-xml-style="extrait"] {
    background-color: #BFBFBF;
}

*[data-xml-style="exergue"] {
    background-color: #95B3D7;
}

*[data-xml-style="conseil"] {
    background-color: #C2D69B;
}

*[data-xml-style="relance"] {
    background-color: #D99594;
}

*[data-xml-style="plusloin"] {
    background-color: #B2A1C7;
}



.LISTE {
    -oxy-foldable:true;
    -oxy-not-foldable-child: ITEM;
    display: block; 
    margin-left: 0cm;
    text-indent: -0.2cm;
}
.LISTE > .ITEM > .LISTE {
    -oxy-foldable: false;
    margin-left: 0.2cm;
    text-indent: -0.2cm;
}
.LISTE > .ITEM > .LISTE > .ITEM > .LISTE {
    -oxy-foldable: false;
    margin-left: 0.2cm;
    text-indent: -0.2cm;
}
.LISTE[DECALAGE="1"] {
    margin-left: 0.4cm;
    text-indent: -0.2cm;
}
.LISTE[DECALAGE="2"] {
    margin-left: 0.6cm;
    text-indent: -0.2cm;
}

.LISTE[NUM='I']  { counter-reset:liste_Grand_I }
.LISTE[NUM='A']  { counter-reset:liste_Grand_A }
.LISTE[NUM='1']  { counter-reset:liste_Numeros }
.LISTE[NUM='a']  { counter-reset:liste_Petit_a }
.LISTE[NUM='i']  { counter-reset:liste_Petit_i }


.LISTE[TYPE="TIRET"] > .ITEM::before, 
.LISTE[TYPE=""] > .ITEM::before{
    content: "- ";
}

.LISTE[TYPE="PUCE"] > .ITEM::before, 
.LISTE > .ITEM > .LISTE[TYPE=""] > .ITEM::before {
    content: "• ";
}
.LISTE > .ITEM > .LISTE > .ITEM > .LISTE[TYPE=""] > .ITEM::before { 
    content: "+ ";
}
.LISTE[TYPE="ETOILE"] > .ITEM::before { 
    content: "* ";
}


.LISTE > .ITEM::before { 
    content: "- ";
}
.LISTE > .ITEM > .LISTE > .ITEM::before { 
    content: "• ";
}
.LISTE > .ITEM > .LISTE > .ITEM > .LISTE > .ITEM::before { 
    content: "+ ";
}
.LISTE[NUM='I'] > ITEM::before { 
    counter-increment:liste_Grand_I;
    content: counter(liste_Grand_I, upper-roman) ". - ";
}
.LISTE[NUM='A'] > ITEM::before { 
    counter-increment:liste_Grand_A;
    content: counter(liste_Grand_A, upper-alpha) " - ";
}
.LISTE[NUM='1'] > ITEM::before { 
    counter-increment:liste_Numeros;
    content: counter(liste_Numeros, decimal) ") ";
}
.LISTE[NUM='a'] > ITEM::before { 
    counter-increment:liste_Petit_a;
    content: counter(liste_Petit_a, lower-alpha) ") ";
}
.LISTE[NUM='i'] > ITEM::before { 
    counter-increment:liste_Petit_i;
    content: counter(liste_Petit_i, lower-roman) ") ";
}

.TITRTEXTE { display: inline; }
.TITRTEXTE > .NATX { display: inline; }
.TITRTEXTE > .NUME { display: inline; }
.TITRTEXTE > .DATE { display: inline; }
.ARTICLES { display: inline; }

.MOCL > .MOT  { display: inline; }



p[data-xml-style='NIV1']::before {
	content: "■ ";
}

p[data-xml-style='NIV2']::before {
	content: "● ";
}
p[data-xml-style='NIV2'] {
	margin-left: 0.8em;
}

p[data-xml-style='NIV3']::before {
	content: "► ";
}

p[data-xml-style='NIV3'] {
	margin-left: 1.6em;
}

p[data-xml-style='NIV4']::before {
	content: "◊ ";
}

p[data-xml-style='NIV4'] {
	margin-left: 2.4em;
}

ul[data-xfe-listtype="-"] {
	margin: 0;
	list-style-type: none;
}

ul[data-xfe-listtype="-"] > li {
  text-indent: -5px;
}

ul[data-xfe-listtype="-"] > li:before {
  content: "- ";
  text-indent: -5px;
}

ul[data-xfe-listtype="•"] {
	margin: 0;
	list-style-type: none;
}

ul[data-xfe-listtype="•"] > li {
  text-indent: -5px;
}

ul[data-xfe-listtype="•"] > li:before {
  content: "• ";
  text-indent: -5px;
}

ul[data-xfe-listtype="■"] {
	margin: 0;
	list-style-type: none;
}

ul[data-xfe-listtype="■"] > li {
  text-indent: -5px;
}

ul[data-xfe-listtype="■"] > li:before {
  content: "■ ";
  text-indent: -5px;
}

ul[data-xfe-listtype="*"] {
	margin: 0;
	list-style-type: none;
}

ul[data-xfe-listtype="*"] > li {
  text-indent: -5px;
}

ul[data-xfe-listtype="*"] > li:before {
  content: "* ";
  text-indent: -5px;
}


/* Ordered lists */

ol[data-xfe-listtype="A"] {
    counter-reset: list;
}

ol[data-xfe-listtype="A"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A"] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) " ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="A)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="A)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A)"] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="A°"] {
    counter-reset: list;
}

ol[data-xfe-listtype="A°"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A°"] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) "° ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="A°)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="A°)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A°)"] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) "°) ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="A."] {
    counter-reset: list;
}

ol[data-xfe-listtype="A."] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A."] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) ". ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="A.-"] {
    counter-reset: list;
}

ol[data-xfe-listtype="A.-"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="A.-"] > li:before {
    counter-increment: list;
    content: counter(list, upper-alpha) ".- ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="a"] {
    counter-reset: list;
}

ol[data-xfe-listtype="a"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) " ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="a)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="a)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a)"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="a°"] {
    counter-reset: list;
}

ol[data-xfe-listtype="a°"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a°"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) "° ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="a°)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="a°)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a°)"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) "°) ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="a."] {
    counter-reset: list;
}

ol[data-xfe-listtype="a."] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a."] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ". ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="a.-"] {
    counter-reset: list;
}

ol[data-xfe-listtype="a.-"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="a.-"] > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ".- ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="1"] {
    counter-reset: list;
}

ol[data-xfe-listtype="1"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1"] > li:before {
    counter-increment: list;
    content: counter(list) " ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="1)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="1)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1)"] > li:before {
    counter-increment: list;
    content: counter(list) ") ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="1°"] {
    counter-reset: list;
}

ol[data-xfe-listtype="1°"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1°"] > li:before {
    counter-increment: list;
    content: counter(list) "° ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="1°)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="1°)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1°)"] > li:before {
    counter-increment: list;
    content: counter(list) "°) ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="1."] {
    counter-reset: list;
}

ol[data-xfe-listtype="1."] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1."] > li:before {
    counter-increment: list;
    content: counter(list) ". ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="1.-"] {
    counter-reset: list;
}

ol[data-xfe-listtype="1.-"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="1.-"] > li:before {
    counter-increment: list;
    content: counter(list) ".- ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="I"] {
    counter-reset: list;
}

ol[data-xfe-listtype="I"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) " ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="I)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="I)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I)"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) ") ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="I°"] {
    counter-reset: list;
}

ol[data-xfe-listtype="I°"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I°"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) "° ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="I°)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="I°)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I°)"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) "°) ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="I."] {
    counter-reset: list;
}

ol[data-xfe-listtype="I."] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I."] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) ". ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="I.-"] {
    counter-reset: list;
}

ol[data-xfe-listtype="I.-"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="I.-"] > li:before {
    counter-increment: list;
    content: counter(list, upper-roman) ".- ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="i"] {
    counter-reset: list;
}

ol[data-xfe-listtype="i"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) " ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="i)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="i)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i)"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) ") ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="i°"] {
    counter-reset: list;
}

ol[data-xfe-listtype="i°"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i°"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) "° ";
    position: absolute;
    left: -1.4em;
}

ol[data-xfe-listtype="i°)"] {
    counter-reset: list;
}

ol[data-xfe-listtype="i°)"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i°)"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) "°) ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="i."] {
    counter-reset: list;
}

ol[data-xfe-listtype="i."] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i."] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) ". ";
    position: absolute;
    left: -1.4em;
}


ol[data-xfe-listtype="i.-"] {
    counter-reset: list;
}

ol[data-xfe-listtype="i.-"] > li {
    list-style: none;
    position: relative;
}

ol[data-xfe-listtype="i.-"] > li:before {
    counter-increment: list;
    content: counter(list, lower-roman) ".- ";
    position: absolute;
    left: -1.4em;
}

/* derniers ajouts */

/* listes ul */
ul[data-xfe-listType = '-']{
  list-style-type:none;
}

ul[data-xfe-listType = '-'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '•']{
  list-style-type:none;
}

ul[data-xfe-listType = '•'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '■']{
  list-style-type:none;
}

ul[data-xfe-listType = '■'] > li:before{
  content:'■\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '*']{
  list-style-type:none;
}

ul[data-xfe-listType = '*'] > li:before{
  content:'*\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '>']{
  list-style-type:none;
}

ul[data-xfe-listType = '>'] > li:before{
  content:'>\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '']{
  list-style-type:none;
}

ul[data-xfe-listType = ''] > li:before{
  content:'\00a0';
  display:block;
  float:left;
}

/* listes ol */

ol[data-xfe-listType ^= 'decimal']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-roman']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-roman']{
  list-style-type:none;
}

ol[data-xfe-listType = 'decimal'] > li:before{
  content:counter(listItem, decimal) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal )'] > li:before{
  content:counter(listItem, decimal) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °'] > li:before{
  content:counter(listItem, decimal) '°\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °)'] > li:before{
  content:counter(listItem, decimal) '°)\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .'] > li:before{
  content:counter(listItem, decimal) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal -'] > li:before{
  content:counter(listItem, decimal) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .-'] > li:before{
  content:counter(listItem, decimal) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha'] > li:before{
  content:counter(listItem, lower-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha )'] > li:before{
  content:counter(listItem, lower-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .'] > li:before{
  content:counter(listItem, lower-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha -'] > li:before{
  content:counter(listItem, lower-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .-'] > li:before{
  content:counter(listItem, lower-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha'] > li:before{
  content:counter(listItem, upper-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha )'] > li:before{
  content:counter(listItem, upper-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .'] > li:before{
  content:counter(listItem, upper-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha -'] > li:before{
  content:counter(listItem, upper-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .-'] > li:before{
  content:counter(listItem, upper-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman'] > li:before{
  content:counter(listItem, lower-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman )'] > li:before{
  content:counter(listItem, lower-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .'] > li:before{
  content:counter(listItem, lower-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman -'] > li:before{
  content:counter(listItem, lower-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .-'] > li:before{
  content:counter(listItem, lower-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman'] > li:before{
  content:counter(listItem, upper-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman )'] > li:before{
  content:counter(listItem, upper-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .'] > li:before{
  content:counter(listItem, upper-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman -'] > li:before{
  content:counter(listItem, upper-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .-'] > li:before{
  content:counter(listItem, upper-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
} 
