/***************************************************************/
/*GENERIC*/
/***************************************************************/
body{
  font-family:"Times New Roman", Georgia, Serif;
  margin-bottom:5em; /* pour les liens qui arrivent en bas */
  margin-left:5%; /* pour aerer? */
  margin-right:5%; /* pour aerer? */
  font-size:1em;
}

p{
  margin-top:0.5em;
  margin-bottom:0.2em;
  text-align:justify;
}

div{
  margin-top:1em;
}

/* PnumTi et premier paraghraphe */
div.xfe_title-1{
  font-weight:bold;
  font-family:Sans-Serif;
  display:inline;
  padding-right:0.2em;
  /* pour le reste de la section */
  counter-reset:Pnum2;
  counter-reset:Pnum3;
}

div.xfe_title-1::before{
  content:attr(data-xml-indtap);
  padding-right:1em;
  padding-left:1em;
}

div.xfe_title-1::after{
  content:"\202f\25a0";
  padding-left:0.3em;
  color:rgb(179, 179, 179);
}

div.xfe_title-1 + p{
  display:inline;
}

/* Pnum2 et Pnum3 */

div.xfe_title-2{
  font-weight:bold;
  counter-increment:Pnum2;
}

div.xfe_title-2::before{
  content:counter(Pnum2) "° ";
}

div.xfe_title-3{
  font-style:italic;
  counter-increment:Pnum3;
}

/* liste */

p.Altiret::before{
  content:"\2014\202f";
  text-align:center;
  padding-right:0.2em;
}

p.Altiret{
  margin-top:0.2em;
  margin-bottom:0.2em;
  text-align:justify;
}

p.Altiretannotation{
  margin-top:0.2em;
  margin-bottom:0.2em;
  font-size:smaller;
  text-align:justify;
}

p.Altiretannotation::before{
  content:"\2014\202f";
  text-align:center;
  padding-right:0.2em;
  font-size:smaller;
}

div.xfe_title-3::before{
  content:counter(Pnum3, lower-alpha) ") ";
}

table.cals_cals{
  border-collapse:collapse;
}

.cals_cals table,
.cals_cals th,
.cals_cals td{
  border:1px solid black;
}

.cals_cals th,
.cals_cals td{
  padding:0.5em;
}

.cals_cals p{
  text-align:inherit;
}

thead{
  background:rgb(211, 211, 211);
  font-weight:bold;
}

.Remarque::before{
  content:"remarque\202f:\202f"; /* unicode 202f : espace fine insécable */
  font-weight:bold;
  font-family:Sans-Serif;
  font-variant:small-caps;
  font-size:smaller;
}

.Remarque{
  font-size:smaller;
  text-align:justify;
}

.Exemple::before{
  content:"exemple\202f:\202f"; /* unicode 202f : espace fine insécable */
  font-weight:bold;
  font-family:Sans-Serif;
  font-variant:small-caps;
  font-size:smaller;
}

.Exemple{
  font-size:smaller;
  text-align:justify;
}


.Reftexte::before,
.Refjrp::before,
.Refna::before{
  content:"\00a9\202f"; /* copyright */
}

p .Reftexte::before,
p .Refjrp::before,
p .Refna::before,
div:not(.Etudered) .Reftexte::before,
div:not(.Etudered) .Refjrp::before,
div:not(.Etudered) .Refna::before{
  content:"(\00a9\202f"; /* copyright */
}

p .Reftexte::after,
p .Refjrp::after,
p .Refna::after,
div:not(.Etudered) .Reftexte::after,
div:not(.Etudered) .Refjrp::after,
div:not(.Etudered) .Refna::after{
  content:")";
}

.Reftexte,
.Refjrp,
.Refna{
  font-style:italic;
}

.Etudered > .texte,
.Etudered > .Reftexte,
.Etudered > .Refjrp,
.Etudered > .Refna{
  display:block;
  padding-left:1.5em;
}

.Fixe{
  display:inline;
}

/* refcode bloc */
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCT2"]::before{
  content:"\00a9\202f C. trav, art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSP"]::before{
  content:"\00a9\202f C. santé publ., art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSS"]::before{
  content:"\00a9\202f CSS, art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCGCT"]::before{
  content:"\00a9\202f CGCT, art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCPP"]::before{
  content:"\00a9\202f C. pr. pén., art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSI"]::before{
  content:"\00a9\202f CSI, art.\202f"; /* copyright */
}

.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCCV"]::before{
  content:"\00a9\202f C. civ., art.\202f"; /* copyright */
}

/* refcode inline */
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCT2"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCT2"]::before{
  content:"(\00a9\202f C. trav, art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSP"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSP"]::before{
  content:"(\00a9\202f C. santé publ., art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSS"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSS"]::before{
  content:"(\00a9\202f CSS, art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCGCT"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCGCT"]::before{
  content:"(\00a9\202f CGCT, art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCPP"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCPP"]::before{
  content:"(\00a9\202f C. pr. pén., art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSI"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSI"]::before{
  content:"(\00a9\202f CSI, art.\202f"; /* copyright */
}

p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCCV"]::before,
div:not(.Etudered) .Refcode[data-xml-type = "ART"][data-xml-code = "PXCCV"]::before{
  content:"(\00a9\202f C. civ., art.\202f"; /* copyright */
}

p .Refcode::after,
div:not(.Etudered) .Refcode::after{
  content:")";
}
 

.Etudered > .Refcode{
  display:block;
  padding-left:1.5em;
}

.Xacode::before{
  content:attr(data-xml-type) "." attr(data-xml-num);
}
.Xacodes::before{
  content:attr(data-xml-type) "." attr(data-xml-num);
}

.Refcode{
  font-style:italic;
}

.Hide::before{
  content:"-- Hide -- Hide -- Hide --";
}
.Hide::after{
  content:"-- Hide -- Hide -- Hide --";
}

.Hide{
  width:100%;
  text-align:justify;
  color:red;
}

.Cdr::before{
  content:"-- Cdr -- Cdr -- Cdr --";
}
.Cdr::after{
  content:"-- Cdr -- Cdr -- Cdr --";
}

.Cdr{
  width:100%;
  text-align:justify;
  color:green;
}

.Numpara::before{
  content:attr(data-xml-num);
}

.Nomf,
.Nomet{
  font-variant:small-caps;
}

.Etudered > .Refcode{
  display:block;
  padding-left:1.5em;
}

.Xacode::before{
  content:attr(data-xml-type) "." attr(data-xml-num);
}
.Xacodes::before{
  content:attr(data-xml-type) "." attr(data-xml-num);
}

.Refcode{
  font-style:italic;
}

.Hide::before{
  content:"-- Hide -- Hide -- Hide --";
}
.Hide::after{
  content:"-- Hide -- Hide -- Hide --";
}

.Hide{
  width:100%;
  text-align:justify;
  color:red;
}

.Cdr::before{
  content:"-- Cdr -- Cdr -- Cdr --";
}
.Cdr::after{
  content:"-- Cdr -- Cdr -- Cdr --";
}

.Cdr{
  width:100%;
  text-align:justify;
  color:green;
}

.Numpara::before{
  content:attr(data-xml-num);
}
.Nomdct{
  font-weight:bold;
}











