/***************************************************************/
/*GENERIC*/
/***************************************************************/
body{
	font-family:Zapf-Chancery, cursive;
	margin-bottom:100em; /*pour les liens qui arrivent en bas*/
	margin-left:5%; margin-right:5%; /*pour aérer?*/
	counter-reset: pNum;
	font-size:0.9em;
}

p{margin-top:0.5em;}
div{margin-top:1em}

/***************************************************************/
/*DISPLAY ONLY*/
/***************************************************************/

/*GESTION DES INFO AFFICHABLE UNIQUEMENT (before)*/

.commentaire:before, .blocHorsTextes:before, .blocNotes:before,
.exemple:before, .miseEnValeur:before, .introduction:before, .pNum:before, .pNonNum:before, .ndlr:before, .blocRattach:before, .blocRefDoc:before,
.blocAuteur:before, .auteur:before, .auteur > .nom:before, .auteur > .prenom:before, .auteur > .portrait:before, .auteur > .biographie:before, .auteur > .fonction:before,
.renvoisMemento:before, .renvoisMemento:after,
.rMemN:before, .rMemN:after,
.renvoisFeuillet:before, .renvoisFeuillet:after,
.rEflN:before, .rEflN:after,
.renvoisPratique:before, .renvoisPratique:after, 
.rPratN:before, .rPratN:after,
.refDoc:before, .refDoc:after,
.rHorsTexte:before, .horsTexte:before,
.rNote:before, .note:before{
	color:gray;
	font-weight:bold;
	font-family:courier, fixed, monospace;
}

/*hover*/
.exemple:hover, .blocAuteur:hover, .auteur:hover .miseEnValeur:hover, .introduction:hover, .pNum:hover, .pNonNum:hover, 
.ndlr:hover, .blocRattach:hover, .blocRefDoc:hover, .horsTexte:hover, .note:hover, .table:hover{
	background-color:#eee;
}

/*Border*/
.exemple, .blocAuteur, .auteur, .miseEnValeur, .introduction, .pNum, .pNonNum, .ndlr, .blocRattach, .blocRefDoc, .horsTexte, .note, .table{
	border:1px dashed gray;
	padding:0.5em;
}

/*Generate content*/
.commentaire:before{content:'Commentaire'}
.blocHorsTextes:before{content:'HorsTextes'}
.horsTexte:before{content:'HorsTexte'}
.blocNotes:before{content:'Notes'}
.note:before{content:'Note'}
.blocAuteur:before{content:'blocAuteur'}
.auteur:before{content:'Auteur'}
.auteur > .nom:before{content:'Nom : '}
.auteur > .prenom:before{content:'Prénom : '}
.auteur > .portrait:before{content:'Portrait : '} /*=> et non pas de before sur une image !*/
.auteur > .biographie:before{content:'Biographie'}
.auteur > .fonction:before{content:'Fonction : '}
.exemple:before{content:'Exemple'}
.miseEnValeur:before{content:'Mise en valeur'}
.introduction:before{content:'Introduction'}
.ndlr:before{content:'Note de la rédaction'}
.blocRattach:before{content:'Bloc Rattach'}
.blocRefDoc:before{content:'Bloc RefDoc'}
.renvoisMemento:before{content:'renvoisMemento: '}
.rMemN:before{content:'rMemN: '}
.renvoisFeuillet:before{content:'renvoisFeuillet: '}
.rEflN:before{content:'rEflN: '}
.renvoisPratique:before{content:'renvoisPratique: '}
.rPratN:before{content:'rPratN: '}
.rHorsTexte:before{content:'rHorsTexte'}
.rNote:before{content:'rNote'}
.pNonNum:before{content:'pNonNum'}
.pNum:before{
	content:'§' counter(pNum);
	counter-increment: pNum;
}
/*LINKS*/
/*surcharge du style*/
.renvoisMemento:before, .renvoisMemento:after,
.rMemN:before, .rMemN:after,
.renvoisFeuillet:before, .renvoisFeuillet:after,
.rEflN:before, .rEflN:after,
.renvoisPratique:before, .renvoisPratique:after, 
.rPratN:before, .rPratN:after,
.refDoc:before, .refDoc:after{
	font-size:0.7em;
	text-decoration:none;
	display:inline-block;
}

.rHorsTexte:before, .rNote:before{
	vertical-align:top;
	font-size:0.8em;
	text-decoration:none;
	display:inline-block;
	border-bottom:1px solid gray;
}

/*BERFORE by type*/
.refDoc[data-xml-type]:before{content:'refDoc[' attr(data-xml-type) ']:'}

/*default*/
.refDoc:before{
	content:'refDoc:';
}

/*AFTER if empy*/
/*on mets en after pour ne pas écraser ce qu'on a mis en before*/
.refDoc:empty:after{content:'ref=' attr(data-xml-ref)}
.renvoisMemento:empty:after{content:attr(data-xml-nom) ' ' attr(data-xml-mille)}
.rMemN:empty:after{content:'n°' attr(data-xml-num) ' ' attr(data-xml-nom) ' ' attr(data-xml-mille)}
.renvoisFeuillet:empty:after{content:attr(data-xml-div) ' ' attr(data-xml-ser)}
.rEflN:empty:after{content:'n°' attr(data-xml-num)}
.renvoisPratique:empty:after{content:attr(data-xml-nom) ' ' attr(data-xml-mille)}
.rPratN:empty:after{content:'n°' attr(data-xml-num)}

.commentaire:before, .blocHorsTextes:before, .blocNotes:before{
	display:block;
	text-align:center;
	width:100%;
	margin-top:1em;
	font-size:2.25em;
	text-transform:uppercase;
}

/***************************************************************/
/*FORCE BLOCK*/
/***************************************************************/
/*Cas ambigüe de inline ou block selon le contexte*/

.rattach > .renvoisMemento,
.rattach > .renvoisFeuillet,
.rattach > .renvoisPratique, 
.blocRefDoc > .refDoc{
	display:block;
}

/***************************************************************/
/*CONTENT*/
/***************************************************************/

.infoCommentaire > .titre{
	text-align:center;
	font-size:2em;
}

.complement{
	font-size:0.8em;
}
/*Puisque le rattach/titre hérite du h1 du infoCommentaire/titre 
=> on le rend plus petit (par rapport à la taille prévue par défaut dans le navigateur)*/
/*FIXME : cet héritage doit-il être désactivé ?*/
.blocRattach > .rattach > .titre, 
.table > .titre{
	font-size:0.9em;
}

.auteur > img.portrait{
	width:100px;
	/*margin:auto;*/
	display:block;
	margin-top:0.5em;
}

/***************************************************************/
/*TABLEAUX*/
/***************************************************************/
/*cf. lib/css/calsSixtine.css*/
.table{
	font-size:0.8em;
}
.table > .titre{
	text-align:center;
	font-size:2em;
	margin-top:0;
}
/***************************************************************/
/*LIST*/
/***************************************************************/
/*cf. https://www.w3.org/TR/css-counter-styles-3/#counter-style-prefix*/
/*@counter-style supporté uniquement à partir firefox "33" : https://developer.mozilla.org/fr/docs/Web/CSS/@counter-style*/

/*@counter-style my-cjk-decimal{
	system: numeric;
	range: 0 infinite;
	symbols: \3007 \4E00 \4E8C \4E09 \56DB \4E94 \516D \4E03 \516B ► \4E5D;
	/\* 〇 一 二 三 四 五 六 七 八 九 *\/
	suffix: "\3001";
	/\* "、" *\/
}
ul.lst li{
	list-style-type: my-cjk-decimal;
}*/

ul{
	counter-reset: listItem;
	/*list-style-type: none; on garde la valeur par défaut, tout se fera par surcharge*/
}

li:before{
/*	counter-increment: listItem;*/
	/*content: counters(section, ".") " ";*/
}


ul[data-xml-format]{
	list-style-type:none;
}

/*Par défaut*/
ul[data-xml-format] > li:before{
	content:'•';
}

/*On laisse tombé l'alignement, ça créé des problèmes
ul[data-xml-format='tiret'] > li{
	padding-left: 1.2em;
	text-indent: -1.2em;
}*/

ul[data-xml-format] > li:before{
	display: block;
	float: left;
	width: 1.5em;
	color:gray;
}


ul[data-xml-format='tiret'] > li:before{
	content:'-';
}

ul[data-xml-format='numerique'] > li:before{
	content:counter(listItem);
	counter-increment: listItem;
}

ul[data-xml-format='numerique-point'] > li:before{
	content:counter(listItem) '.';
	counter-increment: listItem;
}

ul[data-xml-format='numerique-parenthese'] > li:before{
	content:counter(listItem) ')';
	counter-increment: listItem;
}

ul[data-xml-format='numerique-tiret'] > li:before{
	content:counter(listItem) '-';
	counter-increment: listItem;
}

ul[data-xml-format='letter-point'] > li:before{
	content:counter(listItem, lower-alpha) '.';
	counter-increment: listItem;
}

ul[data-xml-format='letter-parenthese'] > li:before{
	content:counter(listItem, lower-alpha) ')';
	counter-increment: listItem;
}

ul[data-xml-format='letter-tiret'] > li:before{
	content:counter(listItem, lower-alpha) '-';
	counter-increment: listItem;
}

/*idem avec bold*/
ul[data-xml-format='tiret-bold'] > li:before{
	content:'-';
	font-weight:bold;
}

ul[data-xml-format='numerique-bold'] > li:before{
	content:counter(listItem);
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='numerique-point-bold'] > li:before{
	content:counter(listItem) '.';
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='numerique-parenthese-bold'] > li:before{
	content:counter(listItem) ')';
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='numerique-tiret-bold'] > li:before{
	content:counter(listItem) '-';
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='letter-point-bold'] > li:before{
	content:counter(listItem, lower-alpha) '.';
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='letter-parenthese-bold'] > li:before{
	content:counter(listItem, lower-alpha) ')';
	counter-increment: listItem;
	font-weight:bold;
}

ul[data-xml-format='letter-tiret-bold'] > li:before{
	content:counter(listItem, lower-alpha) '-';
	counter-increment: listItem;
	font-weight:bold;
}

/* derniers ajouts */

ul[data-xfe-listType = '•']{
  list-style-type:none;
}

ul[data-xfe-listType = '•'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '-']{
  list-style-type:none;
}

ul[data-xfe-listType = '-'] > li:before{
  content:'-\00a0';
  display:block;
  float:left;
}

ol[data-xfe-listType ^= 'decimal']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType = 'decimal'] > li:before{
  content:counter(listItem, decimal) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °'] > li:before{
  content:counter(listItem, decimal) '°\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .'] > li:before{
  content:counter(listItem, decimal) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal )'] > li:before{
  content:counter(listItem, decimal) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal -'] > li:before{
  content:counter(listItem, decimal) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .'] > li:before{
  content:counter(listItem, lower-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha )'] > li:before{
  content:counter(listItem, lower-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}








