/***************************************************************/
/*BLOC META*/
/***************************************************************/
div.ecm_metadata { padding:5px 10px 10px 10px; border:1px dashed grey; margin:0 0 50px 0; }
div.ecm_metadata:before { content:'Métadonnées'; color:grey; font-weight:bold; font-family:courier, fixed, monospace; }
div.ecm_metadata table { width:100%; margin-top:10px; font-size:0.9em; border-collapse:collapse; border-spacing:0; border:1px solid #505050; }
tr.meta { vertical-align:top; }
td.label { width:30%; padding:5px; font-weight:bold; border:1px solid #505050; }
td.values { width:70%; padding:5px; border:1px solid #505050; }
td.values > span { display:block; }
span.field:before { content:'['attr(data-field)'] '; font-size:0.9em; color:grey; font-weight:bold; font-family:courier, fixed, monospace; }

/***************************************************************/
/*GENERIC*/
/***************************************************************/
body{
	font-family:sans-serif;
	margin-left:5%; margin-right:5%;
	font-size:0.9em;
}
a{ color:#0000FF; }