/***************************************************************/
/*BLOC META*/
/***************************************************************/
div.ecm_metadata {
  font-size:0.9em;
  padding:5px 10px 10px 10px;
  border:1px dashed grey;
  margin:0 0 50px 0;
}
div.ecm_metadata div, div.ecm_metadata p { margin:0; }
div.meta {
  margin-top:5px!important;
  clear:both;
}
div.label {
  float:left;
  width:30%;
  font-weight:bold;
}
/*div.label:after {
  display:block;
  content:'[' attr(data-code) ']';
  color:grey;
  font-weight:bold;
  font-family:courier, fixed, monospace;
  font-size:0.9em;
}*/
div.values {
  display:inline-block;
  width:70%;
}
div.values > span { display:block; }
span.field:before {
  content:'['attr(data-field)'] ';
  font-size:0.9em;
  color:grey;
	font-weight:bold;
  font-family:courier, fixed, monospace;;
}

.Tifp {
    font-size: 18px;
    color:#008FFF;
}

.INTROFP {
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color:#1A5280;
}

.PAPL {
    background-color: #D9EEFF;
    font-size: 12px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
}
.PAPL:before {
    content:"POUR ALLER PLUS LOIN...";
    font-size: 14px;
    font-weight:bold;
    color:#008FFF;
}
.Fiche {
    display: inline;
}

.Tiobs {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #B3DDFF;
    padding-left:0.5em;
    padding-right:0.5em;
}
.Tiobs:before {
    content:"OBSERVATIONS ";
    font-size: 14px;
    font-weight:bold;
    color:#FFFFFF;
}
.OBS {
    background-color: #B3DDFF;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left:0.5em;
    padding-right:0.5em;
}

.Ti1 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.Al {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: justify;
}

.Alpuce {
    display: list-item;
    margin-left: 1.3em;
    list-style-type: square;
    text-align: justify;
}

.Remarque {
    font-style: italic;
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left:0.5em;
    margin-bottom:0.8em;
    margin-top:0.5em;
    color:#33A5FF;
    border-left: 1px solid #33A5FF;
}

.Xacode, .Fixe {
    display: inline;
    font-style:italic;
}
.E {
    position: relative;
    bottom: 1px;
    font-size: .8em;
    line-height: .8em;
    vertical-align:super;
    text-decoration:none;
}
.FPRO {
    text-align: justify;
}