/* Version 2016-09-08-1*/

.FORMULE{
  padding:0 0 0 0;
  font-size:0.75em;
}

.FORMULE{
  font-family:Arial;
}

table.cals_cals{
  border-collapse:collapse;
}

.cals_cals table,
.cals_cals th,
.cals_cals td{
  border:1px solid black;
}

.cals_cals th,
.cals_cals td{
  padding:0.5em;
}

.cals_cals p{
  text-align:inherit;
}

table{
  display:table;
  margin:2em auto;
  border-collapse:collapse;
  border-spacing:0;
  border-color:grey;
  font-size:inherit;
}


thead{
  background:rgb(211, 211, 211);
  font-weight:bold;
}

tbody{
  display:table-row-group;
  vertical-align:middle;
  border-color:inherit;
}




.FOOTNOTE.xfe_noteRef{
  display:inline;
  counter-increment:footnote;
  font-family:'Frutiger 45 Light', arial, helvetica, sans-serif;
  font-size:0.75em;
  font-weight:normal;
  line-height:none;
}

.FOOTNOTE.xfe_noteRef:after{
  content:"[" counter(footnote) "]";
  vertical-align:super;
  text-decoration:none;
  color:#417DBB;
  font-weight:bold;
  line-height:0;
}

.xfe_notes{
  display:block;
  margin-top:0.4cm;
}

.xfe_note{
  counter-increment:note;
  text-decoration:none;
  cursor:pointer;
  padding:0 3px;
}

.xfe_note:before{
  content:"[" counter(note) "] ";
  vertical-align:super;
  text-decoration:none;
  color:#417DBB;
  font-weight:bold;
  line-height:0;
}

.xfe_note{
  display:block;
}

.xfe_note:before{
  vertical-align:baseline;
}


.xfe_note > p,
.FOOTNOTE > p{
  display:inline;
  font-size:1em;
  margin-top:0pt;
}

.xfe_note > p:first-child:before,
.FOOTNOTE > p:first-child:before{
  content:"";
}
.xfe_note > p:before,
.FOOTNOTE > p:before{
  content:"\A";
}

ul[data-xfe-listtype = "-"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "-"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "-"] > li:before{
  content:"- ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "•"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "•"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "•"] > li:before{
  content:"• ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "■"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "■"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "■"] > li:before{
  content:"■ ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "*"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "*"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "*"] > li:before{
  content:"* ";
  text-indent:-5px;
}


/* Ordered lists */

ol[data-xfe-listtype = "A"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A°"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A°)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "A."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A."] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "A.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A.-"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a°"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a°)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a."] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a.-"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1"] > li:before{
  counter-increment:list;
  content:counter(list) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1)"] > li:before{
  counter-increment:list;
  content:counter(list) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1°"] > li:before{
  counter-increment:list;
  content:counter(list) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1°)"] > li:before{
  counter-increment:list;
  content:counter(list) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1."] > li:before{
  counter-increment:list;
  content:counter(list) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1.-"] > li:before{
  counter-increment:list;
  content:counter(list) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I°"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I°)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I."] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I.-"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ".- ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i°"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i°)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "i."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i."] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "i.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i.-"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ".- ";
  position:absolute;
  left:-1.4em;
}

/* derniers ajouts */

/* listes ul */
ul[data-xfe-listType = '-']{
  list-style-type:none;
}

ul[data-xfe-listType = '-'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '•']{
  list-style-type:none;
}

ul[data-xfe-listType = '•'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '■']{
  list-style-type:none;
}

ul[data-xfe-listType = '■'] > li:before{
  content:'■\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '*']{
  list-style-type:none;
}

ul[data-xfe-listType = '*'] > li:before{
  content:'*\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '>']{
  list-style-type:none;
}

ul[data-xfe-listType = '>'] > li:before{
  content:'>\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '']{
  list-style-type:none;
}

ul[data-xfe-listType = ''] > li:before{
  content:'\00a0';
  display:block;
  float:left;
}

/* listes ol */

ol[data-xfe-listType ^= 'decimal']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-roman']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-roman']{
  list-style-type:none;
}

ol[data-xfe-listType = 'decimal'] > li:before{
  content:counter(listItem, decimal) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal )'] > li:before{
  content:counter(listItem, decimal) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °'] > li:before{
  content:counter(listItem, decimal) '°\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °)'] > li:before{
  content:counter(listItem, decimal) '°)\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .'] > li:before{
  content:counter(listItem, decimal) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal -'] > li:before{
  content:counter(listItem, decimal) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .-'] > li:before{
  content:counter(listItem, decimal) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha'] > li:before{
  content:counter(listItem, lower-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha )'] > li:before{
  content:counter(listItem, lower-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .'] > li:before{
  content:counter(listItem, lower-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha -'] > li:before{
  content:counter(listItem, lower-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .-'] > li:before{
  content:counter(listItem, lower-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha'] > li:before{
  content:counter(listItem, upper-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha )'] > li:before{
  content:counter(listItem, upper-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .'] > li:before{
  content:counter(listItem, upper-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha -'] > li:before{
  content:counter(listItem, upper-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .-'] > li:before{
  content:counter(listItem, upper-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman'] > li:before{
  content:counter(listItem, lower-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman )'] > li:before{
  content:counter(listItem, lower-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .'] > li:before{
  content:counter(listItem, lower-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman -'] > li:before{
  content:counter(listItem, lower-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .-'] > li:before{
  content:counter(listItem, lower-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman'] > li:before{
  content:counter(listItem, upper-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman )'] > li:before{
  content:counter(listItem, upper-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .'] > li:before{
  content:counter(listItem, upper-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman -'] > li:before{
  content:counter(listItem, upper-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .-'] > li:before{
  content:counter(listItem, upper-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

/* CSS commentaires*/

div.P{
	padding-top: 1.5em;
}

div.P:nth-child(2){
	padding-top: 0;
}



div.COM:before{
	content: "Observations";
	color: #C92435;
	font-weight: bold;
	margin-bottom: 100px;
}

div.COM{
	background-color: #EEEEEE;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
}

span[data-xfe-label='HR'] {
  display:block;
  height: 1px;
  background-color: c5c5c5;
  margin-top: 0.5em;
  margin-bottom: 1.5em;

}

div[data-xfe-label='GRAS'] {
  margin-bottom: 0.5em;
}


/* CSS document*/

div.DOCUMENT{
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	text-align: left;
	font-size: x-small;
}

div.DOCUMENT:before{
	content: "Requête en excès de pouvoir ou en annulation";
	color: #666699;
	font-size: medium;
}



div.INFO{
	margin-top: 5px;
	margin-bottom: 5px;
}

span[data-xml-JURIDICTION='TA']:after{
	content: "Tribunal administratif de .....(Ville) :";
}

span.TRIBUNAL{
	margin-top: 5px;
}

strong[data-xfe-label='GRAS']:before {
	content: '';
	display:block;
	margin-top: 1.5em;
}

div[data-xfe-label='TITRE']:before{
	content: ". ";
	font-weight: bold;
	color: #C92435;
	font-size: large;
	margin-top: 1em;
	margin-bottom: 1em;
}

.TXT-NIV .BLOC-OPTIONS .OPTION .BLOC-AJOUTS .AJOUT:before{
	content: "→ Énumérer";
	display: block;
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-style: italic;
}

span[data-xml-IDENTITE='A']:before{
	content: ".....(M./Mme) .....(prénom) .....(nom), demeurant .....(adresse), .....(code postal) .....(ville).";

}

/*span[data-xml-CIVILITE='OUI']:after{
	content: ".....(M./Mme)";
}

span[data-xml-PRENOM-AVANT='OUI']:before{
	content: " .....(prénom";
}

span[data-xml-NOM='OUI']:before{
	content: " .....(nom),";
}

span[data-xml-ADRESSE='OUI']:before{
	content: " .....(adresse), .....(code postal) .....(ville).";*/
}

span[data-xfe-label='PPUBLIQUE']:after {
	content: ".....(type de collectivité).....(nom de la collectivité), sis(e) .....(adresse), .....(code postal) .....(ville), représenté(e) par son .....(fonction) dûment habilité par délibération .....(organe) en date du .....(date)";

}

span[data-xml-IDENTITE='F']:before{
	content: ".....(M./Mme) .....(prénom) .....(nom), demeurant .....(adresse), .....(code postal) .....(ville).";

}

div .INFO:before {
	content: '';
	display:block;
	height: 10px;
	background-color: eeeeee;
	margin-top: 1em;
}

div .INFO:after {
	content: '';
	display:block;
	height: 10px;
	background-color: eeeeee;
	margin-top: 1em;
}


div[data-xfe-label='INFO']:before{
	content: "Obs :";
	display:block;
	color: #C92435;
	margin-bottom: 5px;
	position: relative;

	
}

span[data-xfe-label='PMORALE']:after {
	content: ".....(dénomination), .....(forme), ayant son siège social .....(adresse), .....(code postal) .....(ville), représentée par son Président en exercice dûment habilité par les statuts (ou autorisé à agir en justice en vertu d'une décision) en date du .....(date)";

}



span[data-xfe-label='AVOCAT']:after {
	content: "....(prénom) .....(nom), ayant pour adresse .....(adresse), .....(code postal) .....(ville)";

}

span[data-xml-CHAMP='Lieu']:after {
	content: ".....(Lieu)";

}

span[data-xml-CHAMP='Objet de la décision attaquée']:after {
	content: ".....(Objet de la décision attaquée)";

}

span[data-xml-CHAMP='Date']:after {
	content: ".....(Date)";

}

span[data-xml-CHAMP='Auteur de l\'acte']:after {
	content: ".....(Auteur de l'acte)";

}

.LIB-NIV, .NUM-NIV, .LIB-NIV {
	font-size: 12px;
}

div .NIV2 .LIB-NIV {
	font-weight: bold;
}

span[data-xml-VARIANTE='Le requérant/Le concluant']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='Le requérant/Le concluant']:after {
	content: "/Le requérant/Le concluant) ";

}

span[data-xml-CHAMP='Présentation des faits']:after {
	content: " .....(Présentation des faits).";

}

span[data-xml-VARIANTE='le requérant/le concluant']:before {
	content: ".....(";

}


span[data-xml-VARIANTE='le requérant/le concluant']:after {
	content: "/le requérant/le concluant)";

}

span[data-xml-CHAMP='Exposé des moyens']:after {
	content: " .....(Exposé des moyens).";

}

span[data-xml-PRECISION='Compléter']:after {
	content: ".....(Compléter).";

}

span[data-xml-IDENTITE='demandeur']:after {
	content: ".....(M./Mme) .....(prénom) .....(nom)";

}

span[data-xml-VARIANTE='il']:after {
	content: "/il";

}

span[data-xml-CHAMP='Sens de la demande']:after {
	content: " .....(Sens de la demande).";

}

span[data-xml-CHAMP='Objet']:after{
	content: " .....(Objet de l'acte)";

}

span[data-xml-VARIANTE='la collectivité territoriale/l\'établissement public de coopération intercommunale']:after {
	content: " (la collectivité territoriale/l'établissement public de coopération intercommunale)";

}

span[data-xml-VARIANTE='à statuer dans un délai déterminé']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='à statuer dans un délai déterminé']:after {
	content: "/à statuer dans un délai déterminé)";

}

span[data-xml-VARIANTE='définitive']:before {
	content: " .....(";

}

span[data-xml-VARIANTE='définitive']:after {
	content: "/définitive)";

}

span[data-xml-VARIANTE='les défendeurs']:before {
	content: ".....(...) .....(";

}

span[data-xml-VARIANTE='les défendeurs']:after {
	content: "/les défendeurs)";

}

span[data-xml-VARIANTE='solidairement'] {
	content: "";
	display: none;

}

span[data-xfe-label='MONTANT']:after {
	content: ".....(Montant) euros";

}

span[data-xml-VARIANTE='les parties perdantes']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='les parties perdantes']:after {
	content: "/les parties perdantes)";

}

span[data-xml-VARIANTE='à chacune d\'elle']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='à chacune d\'elle']:after {
	content: "/à chacune d'elle)";

}

span[data-xml-IDENTITE='avocat']:before {
	content: "Me";

}

span[data-xml-IDENTITE='défendeur']:before {
	content: ".....(M./Mme) .....(prénom) .....(nom)";

}

span[data-xml-CHAMP='Signature']:after {
	content: ".....(Signature)";

}

span[data-xml-CHAMP='Lister les pièces obligatoires']:after {
	content: ".....(Lister les pièces obligatoires).";

}

span[data-xml-CHAMP='Lister les pièces facultatives']:after {
	content: "....(Lister les pièces facultatives).";

}

.LIB-NIV:first-child{
	float: none;
	margin-top: 2em;
	margin-bottom: 2em;
}

.NUM-NIV {
	margin-right: 5px;
}

.NUM-NIV, .LIB-NIV {
	float: left;
}

.TXT-NIV {
	clear: left;
}

.NIV1 .BLOC-OPTIONS .OPTION {
	counter-increment: Index;
}

.NIV1 .BLOC-OPTIONS .OPTION:before {
	content:'■ Option n° ' counter(Index) ' : ';
	font-style: italic;
	margin-top: 2em;
}

span[data-xml-CHAMP='Pièces obligatoires']:after {
	content: ".....(Pièces obligatoires)";

}

span[data-xml-CHAMP='Pièces facultatives']:after {
	content: ".....(Pièces facultatives)";

}

span[data-xml-VARIANTE='partiellement']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='partiellement']:after {
	content: "/partiellement)";

}

span[data-xml-VARIANTE='la décision de non-opposition à une déclaration préalable/le permis de construire/le permis d\'aménager/le permis de démolir']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='la décision de non-opposition à une déclaration préalable/le permis de construire/le permis d\'aménager/le permis de démolir']:after {
	content: "/la décision de non-opposition à une déclaration préalable/le permis de construire/le permis d'aménager/le permis de démolir) ";

}

span[data-xml-CHAMP='Références']:after {
	content: "......(Références) ";

}


span[data-xml-VARIANTE='chacune d\'elles']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='chacune d\'elles']:after {
	content: "/chacune d'elles)";

}

span[data-xml-CHAMP='Pièces jointes']:after {
	content: "....(Pièces jointes)";

}

span[data-xml-CHAMP='Pièces jointes']:before {
	content: "→ Énumérer";
	display: block;
	margin-top: 1em;
	margin-bottom: 1.5em;
	font-style: italic;

}

span[data-xml-VARIANTE='L\'appelant']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='L\'appelant']:after {
	content: "/L'appelant)";

}

span[data-xml-FONCTION='J.Ref.']:before {
	content: ".....(Monsieur/Madame) le Juge des référés";

}

span[data-xml-CHAMP='Juridiction compétente']:before {
	content: ".....(Juridiction compétente)";

}


span[data-xml-VARIANTE='L\'intimé']:before {
	content: ".....(";

}

span[data-xml-VARIANTE='L\'intimé']:after {
	content: "/L'intimé)";

}

span[data-xml-CHAMP='Compléter']:after {
	content: ".....(Compléter)";

}

span[data-xml-PRECISION='du demandeur']:after {
	content: ".....(Désignation du demandeur)";

}

span[data-xml-PRECISION='du défendeur']:after {
	content: ".....(Désignation du défendeur)";

}

/*LETTRE*/

.LETTRE{
	border-color: #C92435;
	border-style: solid;
	border-width: 1px;
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.LETTRE .BLOC-DESTINATAIRE {
	float: right;
}

.LETTRE .LIEU-DATE {
	float: right;
}

.LETTRE .TEXTE {
	clear: both;
}

.LETTRE .BLOC-DESTINATAIRE span[data-xml-FONCTION='Proc.']:before {
	content: ".....(Monsieur/Madame) le Procureur";

}


.LETTRE .BLOC-DESTINATAIRE span[data-xml-JURIDICTION='TGI']:before {
	content: "Tribunal de grande instance de .....(Ville), .....(adresse), .....(code postal) .....(ville)";
	display: block;

}

.LETTRE .BLOC-DESTINATAIRE span[data-xml-JURIDICTION='TGI']:after {
	content: ".....(lieu), le .....(date)";
	display: block;
	font-size: 0.75em;

}











