/* Version 2016-09-08-1*/

.CORPUS{
  padding:0 0 0 0;
  font-size:0.75em;
}

.COMPLEMENTS{
  margin:2em;
  padding:2em 0 0 0;
}

.CORPUS *,
.COMPLEMENTS *,
.COMPLEMENTS-INDEX *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Verdana, Helvetica, sans-serif;
  color:#1b1b1b;
  /*	font-size: 12px;*/
  text-align:justify;
}


/*.CORPUS header{ display:none;}*/

.CORPUS a,
.COMPLEMENTS a,
.COMPLEMENTS-INDEX a{
  text-decoration:none;
  color:#1b1b1b;
}

.CORPUS p a,
.COMPLEMENTS p a,
.COMPLEMENTS-INDEX p a{
  color:#0000FF;
  text-decoration:underline;
}

.CORPUS table,
.COMPLEMENTS table{
  margin:2em auto;
  border-spacing:0;
  border-collapse:collapse;
  font-size:inherit;
}

.CORPUS td,
.COMPLEMENTS td{
  border:1px #000000 solid;
  padding:1em;
}

.CORPUS a.tab-ce{
  padding:0.5em 1em;
  display:inline-block;
  border-radius:3px;
  background:#DDD;
  border:1px solid #c0c5d1;
  font-size:0.75em;
  color:#666;
  font-weight:bold;
}

.CORPUS a.tab-ce:hover{
  color:#FFF;
  background:#c0c5d1;
}

.NIVO-CORPS{
  /*  background: url('../img/entete.gif') no-repeat top center; */
  padding:1em 0 0 0;
}

.NIVEAU6 > .NIVO-CORPS{
  background:none;
  padding:0;
}

.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .TITRE.filet-rouge:before,
.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .AUTEUR.filet-rouge,
.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .SOMMAIRE.filet-rouge{
  border-left:2px solid #af2e2e;
  border-right:2px solid #af2e2e;
  padding-left:1em
}

.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .SOMMAIRE.filet-rouge:before{
  padding:0;
  margin:0;
}

.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .TITRE.filet-rouge{
  padding-top:1em;
  border-top:2px solid #af2e2e;
}

.ORIENTEUR > .NIVO-CORPS > .NIVEAU6 > .SOMMAIRE.filet-rouge{
  padding-bottom:1em;
  border-bottom:2px solid #af2e2e;
}

.NIV1.filet-rouge{
  padding:1em;
  border:2px solid #af2e2e;
}

.NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE,
.NIVEAU3 > .TITRE,
.NIVEAU4 > .TITRE{
  /* background: url(../img/entete.gif) no-repeat top center; */
  padding:2em 0 0 0;
}

.NIVEAU3 > .TITRE,
.NIVEAU4 > .TITRE,
.ORIENTEUR > .TITRE,
.ORIENTEUR > a > .TITRE,
.NUME,
.TITP,
.NIV1 > .NIVEAU6 > .TITRE,
.PLAN > .NIVEAU6 > .TITRE-PLAN,
.NIVO-CORPS > .NIVEAU6 > .TITRE,
.NIVO-CORPS > .NIVEAU6 > a > .TITRE,
.NIVO-CORPS > .NIV1 > .TITRE,
.NIVO-CORPS > a > .NIV1 > .TITRE,
.NIVO-CORPS > .NIV1 > a > .TITRE,
.NIV-TEXTE > .PARA-PLAN > .PLAN > .NIVEAU6 > .TITRE,
.NIVEAU3 > a > .TITRE,
.NIVEAU4 > a > .TITRE,
.ANNEXES > .TITRE,
.ANNEXE > .TITRE,
.NIVEAU6 > TITRE{
  font-weight:bold;
}

.PLAN > .NIV1 > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-NIV,
.PLAN > .NIV1 > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-NUM,
.PLAN > .NIV1 > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-INTT,
.PLAN > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-NIV,
.PLAN > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-NUM,
.PLAN > .NIVEAU6 > .NIVO-CORPS > .NIV1 > .TITRE > .TIT-INTT{
  font-weight:normal;
}

.NUME,
.TITP{
  display:inline-block;
}


/* Liens pointant vers une source externe au document */

a.FOOTNOTE:link,
a.FOOTNOTE:visited,
a.FOOTNOTE:hover,
a.FOOTNOTE:active{
  color:#BB1126;
  text-decoration:underline;
  font-weight:bold;
}

a.lienExterne:link,
a.lienExterne:visited,
a.lienExterne:hover,
a.lienExterne:active{
  color:#BB1126;
  text-decoration:underline;
}

.AUTEUR{
  text-align:center;
}

.DATE-PUBLI{
  text-align:center;
}

.NIVEAU6 > .TITRE,
.NIVO-CORPS > .NIV1 > .TITRE,
.SOMMAIRE > .PLAN > .NIV1{
  margin:0.25em 0 0 0;
}

.SOMMAIRE:before{
  content:"Table des matières";
  margin:1em 0;
  font-weight:bold;
  display:block;
}

.SOMMAIRE{
  font-weight:bold;
}

.SOMMAIRE .NIV1 > .TITRE-PLAN:before{
  content:"\25A0 ";
  color:#c69b39;
}

.SOMMAIRE .NIV1 > .TITRE-PLAN{
  margin:0.75em 0 0 0;
  border-bottom:1px solid #EFEFEF;
}

.SOMMAIRE .NIV1 > .TITRE-PLAN > .TIT-NIV{
  text-transform:uppercase;
}

.NIV1 > .TITRE-PLAN,
.NIV3 > .TITRE-PLAN,
.NIV5 > .TITRE-PLAN{
  margin:0.75em 0 0 0;
  border-bottom:1px solid #EFEFEF;
}

.TITRE > .TIT-INTT,
.TITRE-PLAN > span.TIT-NUM,
.TITRE-PLAN > .TIT-NIV,
.TITRE-PLAN > .TIT-INTT{
  display:inline-block;
  font-weight:bold;
}

.TITRE-PLAN > .TIT-NUM{
}

.TITRE-PLAN > .TIT-INTT{
  margin-left:0.45em;
}

p{
  margin:0 0 1em 0 !important;
  line-height:1.25em !important;
}

.PTCAP{
  font-variant:small-caps;
  font-size:1.2em;
}

.LISTE.TIRET,
.LISTE.PUCE,
.LISTE.ETOILE,
.LISTE.POINT-TIRET,
.LISTE.DEGRE,
.LISTE.PARENTHESE{
  list-style:none;
  margin:0
}

.LISTE.TIRET > li:before{
  content:"- ";
}

.LISTE.PUCE > li:before{
  content:"\2022  ";
}

.LISTE.ETOILE > li:before{
  content:"* ";
}

.LISTE.POINT-TIRET > li:before{
  content:"·  ";
  font-weight:bold;
}

.LISTE.PUCE > li{
  padding:0 1em;
}

.LISTE.DEGRE,
.LISTE.PARENTHESE{
  counter-reset:list;
}

.LISTE.PARENTHESE > li:before{
  content:counter(list, lower-alpha) ") ";
  counter-increment:list;
}

.LISTE.DEGRE > li:before{
  content:counter(list, decimal) "°/ ";
  counter-increment:list;
}

nav > div.nav li{
  list-style:none;
  margin-top:10px;
  font-size:0.75em;
}

nav > div.nav li li{
  font-size:1em;
  margin-top:0px;
}

.nav a{
  color:#BB1126;
  font-weight:bold;
  text-decoration:underline;
}

nav > div.nav li.IDX1{
  line-height:1.5em;
  /* background: url(../img/puce_lvl1_mid.gif) no-repeat left top; */
  padding:2px 0 2px 12px;
}

.nav li .IDX1 .last{
  /* background: url(../img/puce_lvl1_last.gif) no-repeat left top; */
}

.nav li .IDX1 .first{
  /* background: url(../img/puce_lvl1_first.gif) no-repeat left top; */
}

nav > div.nav li.IDX2,
nav > div.nav li.GRPRENVOIS{
  /* background: url(../img/puce_lvl2_mid.gif) no-repeat left top; */
  padding-left:30px;
}

nav > div.nav li.IDX2 .first,
nav > div.nav li.GRPRENVOIS .first{
  /* background: url(../img/puce_lvl2_first.gif) no-repeat left top; */
}

nav > div.nav li.IDX2 .last,
nav > div.nav li.GRPRENVOIS .last{
  /* background: url(../img/puce_lvl2_last.gif) no-repeat left top; */
}

nav > div.nav li.IDX2 .end,
nav > div.nav li.GRPRENVOIS .end{
  /* background: url(../img/puce_lvl2.gif) no-repeat left top; */
}

nav > div.nav li.IDX3{
  /* background: url(../img/puce_lvl3.gif) no-repeat left top; */
  padding-left:45px;
}

.nav ul > li.IDX1 > span.IDX-MOT,
.nav .IDX-COMPL{
  font-weight:bold;
}

.CORPUS{
  font-family:Arial;
}


/* Titres NIVEAU1 */

.NIVEAU1 > .TITRE .TIT-NIV,
.NIVEAU1 > .TITRE .TIT-NUM,
.NIVEAU1 > .TITRE .TIT-INTT{
  color:#716b68;
  font-size:18px;
  font-weight:bold;
}

.NIVEAU1 > .TITRE .TIT-INTT{
  display:block;
}

.NIVEAU1 > .TITRE{
  margin:12px 0;
}


/* Titres NIVEAU6 */

.NIVEAU6 > .TITRE *{
  color:#b8222a;
  font-size:16px;
  font-weight:normal;
}

.NIVEAU6{
  margin:10px 0;
}

.NIVEAU6 > .TITRE > .TIT-INTT{
  display:inline-block;
}


/* Titres NIV1 */

.NIV1 > .TITRE .TIT-INTT,
.NIV1 > .TITRE > .TIT-INTT{
  font-weight:bold;
  font-size:16px;
}

.NIV1 > .TITRE{
  font-size:0;
  /* Hack pour enlever l'espace entre .TIT-NIV et .TIT-NUM */
}

.NIV1 > .TITRE > .TIT-NIV,
.NIV1 > .TITRE > .TIT-NUM{
  background-color:#b8222a;
  padding:4px;
  color:#FFF;
  display:inline-block;
  font-size:12px;
  margin:20px 0 4px;
}

.NIV1 > .TITRE > .TIT-NUM,
.NIV8 > .TITRE > .TIT-NUM{
  padding-left:0;
  margin:0 0.4em 0 0;
}
.NIV1 > .TITRE > .TIT-INTT{
  display:block;
}

.NIV8 > .TITRE > .TIT-INTT{
  margin:0 0 0 0.4em;
  display:inline;
}


/* Titres NIV3 */

.NIV3 > .TITRE{
  font-size:14px;
}

.NIV3 > .TITRE{
  font-weight:bold;
  font-size:14px;
  margin:18px 0;
}

.NIV3 > .TITRE > .TIT-NIV,
.NIV3 > .TITRE > .TIT-NUM{
  color:#b8222a;
  font-weight:bold;
}

.NIV3 > .TITRE > .TIT-INTT{
  font-weight:bold;
  display:inline;
}


/* Titres NIV5 */

.NIV5 > .TITRE{
  margin:10px 0;
}

.NIV5 > .TITRE > .TIT-INTT{
  display:inline-block;
}

.NIV5 > .TITRE > .TIT-NUM,
.NIV5 > .TITRE > .TIT-INTT{
  color:#b8222a;
  font-size:12px;
}


/* Titres NIV6 */

.NIV6 > .TITRE > .TIT-NUM{
  color:#b8222a;
  font-weight:bold;
  font-size:12px;
}

.NIV6 > .TITRE{
  margin:5px 0 2px;
}

.NIV6 > .TITRE > .TIT-INTT{
  font-weight:bold;
  font-size:12px;
  display:inline-block;
}


/* Titres NIV7 */

.NIV7 > .TITRE{
  margin:2px 0 5px;
  font-size:12px;
}

.NIV7 > .TITRE > .TIT-NUM{
  color:#b8222a;
}

.NIV7 > .TITRE > .TIT-INTT{
  display:inline-block;
}


.NIV-TEXTE{
  line-height:1.25em;
}

/* PARA */

.CORPUS .PARA{
  margin:0.5em 0;
}

.PARA,
.PARA-JURIS,
.PARA-LEGIS,
.PARA-BIBLIO,
.PARA-QUEST{
  counter-reset:footnote;
}

.CORPUS .PARA > .NUME,
.CORPUS .PARA > .TITP{
  color:#b8222a;
  font-weight:bold;
  font-size:12px;
  margin-right:0.40em;
}

.CORPUS .PARA article.PARA-TXT,
.CORPUS .PARA article.PARA-TXT > div,
.CORPUS .PARA article.PARA-TXT > div > p{
  display:inline;
}

.CORPUS .PARA article.PARA-TXT > div > p + p{
  display:block;
  margin:0.3em 0 !important;
}


/* encadrÃ©s */

.CORPUS .PARA article.PARA-TXT.FOCUS > div > p,
.CORPUS .PARA article.PARA-TXT.AVERT > div > p,
.CORPUS .PARA article.PARA-TXT.EXEMPLE > div > p{
  margin-top:1em !important;
}

.CORPUS .PARA article.PARA-TXT.FOCUS,
.CORPUS .PARA article.PARA-TXT.FOCUS > div,
.CORPUS .PARA article.PARA-TXT.FOCUS > div > p,
.CORPUS .PARA article.PARA-TXT.AVERT,
.CORPUS .PARA article.PARA-TXT.AVERT > div,
.CORPUS .PARA article.PARA-TXT.AVERT > div > p,
.CORPUS .PARA article.PARA-TXT.EXEMPLE,
.CORPUS .PARA article.PARA-TXT.EXEMPLE > div,
.CORPUS .PARA article.PARA-TXT.EXEMPLE > div > p{
  display:block;
}

.CORPUS .PARA article.PARA-TXT.FOCUS,
.CORPUS .PARA article.PARA-TXT.AVERT,
.CORPUS .PARA article.PARA-TXT.EXEMPLE{
  margin:1.5em 0 1em 4em;
}

article.PARA-TXT.FOCUS:before,
article.PARA-TXT.AVERT:before,
article.PARA-TXT.EXEMPLE:before{
  padding:4px;
  color:#FFF;
  position:relative;
  bottom:4px;
}

article.PARA-TXT.FOCUS div.PARA-TXT.FOCUS,
article.PARA-TXT.AVERT div.PARA-TXT.AVERT,
article.PARA-TXT.EXEMPLE div.PARA-TXT.EXEMPLE{
  border:1px solid #9d9896;
  border-bottom-width:0;
  padding:0 1em 0.2em;
}

article.PARA-TXT.FOCUS div.PARA-TXT.FOCUS ul,
article.PARA-TXT.AVERT div.PARA-TXT.AVERT ul,
article.PARA-TXT.EXEMPLE div.PARA-TXT.EXEMPLE ul{
  margin-left:15px;
}


/* encadrÃ© focus */

article.PARA-TXT.FOCUS:before{
  content:"ILLUSTRATION";
  background:#9d9896;
}

article.PARA-TXT.FOCUS div.PARA-TXT.FOCUS .TITN{
  font-weight:bold;
}


/* encadrÃ© avertissement */

article.PARA-TXT.AVERT:before{
  content:"ATTENTION";
  background:#b8222a;
}

article.PARA-TXT.AVERT div.PARA-TXT.AVERT{
  border-color:#b8222a;
}

article.PARA-TXT.AVERT div.PARA-TXT.AVERT .TITN,
span.TITN{
  font-weight:bold;
  color:#b8222a;
  margin:0 0.4em 0 0;
}


/* encadrÃ© exemple */

article.PARA-TXT.EXEMPLE:before{
  content:"EXEMPLE";
  background:#9d9896;
}

article.PARA-TXT.EXEMPLE div.PARA-TXT.EXEMPLE{
  border-color:#9d9896;
}

article.PARA-TXT .MEV,
article.PARA-TXT .MEV *{
  color:#9d9896;
  line-height:0.75em;
}


/* Tableaux */

article.PARA-TXT .TABLEAU{
  margin:10px 0;
}

article.PARA-TXT .TABLEAU table{
  margin:0.2em auto;
}

article.PARA-TXT .TABLEAU .TIT1,
article.PARA-TXT .TABLEAU .SOURCE{
  text-align:center;
}

.CORPUS ul,
.CORPUS ol{
  margin:12px 18px;
  list-style-type:none;
  padding:12px 18px;
  list-style:square;
}

#JURIS-CORPUS\2f DROIT-ASSOCIATIONS-FONDATIONS\2f 2015\2f PLAN-P01-E002-000011 > div:nth-child(2) > div:nth-child(3) > div:nth-child(3) > div.NIV-TEXTE{
  display:inline;
}

table.cals_cals{
  border-collapse:collapse;
}

.cals_cals table,
.cals_cals th,
.cals_cals td{
  border:1px solid black;
}

.cals_cals th,
.cals_cals td{
  padding:0.5em;
}

.cals_cals p{
  text-align:inherit;
}

table{
  display:table;
  margin:2em auto;
  border-collapse:collapse;
  border-spacing:0;
  border-color:grey;
  font-size:inherit;
}


thead{
  background:rgb(211, 211, 211);
  font-weight:bold;
}

tbody{
  display:table-row-group;
  vertical-align:middle;
  border-color:inherit;
}




.FOOTNOTE.xfe_noteRef{
  display:inline;
  counter-increment:footnote;
  font-family:'Frutiger 45 Light', arial, helvetica, sans-serif;
  font-size:0.75em;
  font-weight:normal;
  line-height:none;
}

.FOOTNOTE.xfe_noteRef::after{
  content:"[" counter(footnote) "]";
  vertical-align:super;
  text-decoration:none;
  color:#417DBB;
  font-weight:bold;
  line-height:0;
}

.xfe_notes{
  display:block;
  margin-top:0.4cm;
}

.xfe_note{
  counter-increment:note;
  text-decoration:none;
  cursor:pointer;
  padding:0 3px;
}

.xfe_note:before{
  content:"[" counter(note) "] ";
  vertical-align:super;
  text-decoration:none;
  color:#417DBB;
  font-weight:bold;
  line-height:0;
}

.xfe_note{
  display:block;
}

.xfe_note:before{
  vertical-align:baseline;
}


.xfe_note > p,
.FOOTNOTE > p{
  display:inline;
  font-size:1em;
  margin-top:0pt;
}

.xfe_note > p:first-child::before,
.FOOTNOTE > p:first-child::before{
  content:"";
}
.xfe_note > p::before,
.FOOTNOTE > p::before{
  content:"\A";
}

.AL{
  margin:0 0 1em 0 !important;
  line-height:1.25em !important;
}

.PTCAP{
  font-variant:small-caps;
  font-size:1.2em;
}

p[data-xml-style = 'NIV1']::before{
  content:"■ ";
}

p[data-xml-style = 'NIV2']::before{
  content:"● ";
}
p[data-xml-style = 'NIV2']{
  margin-left:0.8em;
}

p[data-xml-style = 'NIV3']::before{
  content:"► ";
}

p[data-xml-style = 'NIV3']{
  margin-left:1.6em;
}

p[data-xml-style = 'NIV4']::before{
  content:"◊ ";
}

p[data-xml-style = 'NIV4']{
  margin-left:2.4em;
}

ul[data-xfe-listtype = "-"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "-"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "-"] > li:before{
  content:"- ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "•"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "•"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "•"] > li:before{
  content:"• ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "■"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "■"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "■"] > li:before{
  content:"■ ";
  text-indent:-5px;
}

ul[data-xfe-listtype = "*"]{
  margin:0;
  list-style-type:none;
}

ul[data-xfe-listtype = "*"] > li{
  text-indent:-5px;
}

ul[data-xfe-listtype = "*"] > li:before{
  content:"* ";
  text-indent:-5px;
}


/* Ordered lists */

ol[data-xfe-listtype = "A"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A°"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "A°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A°)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "A."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A."] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "A.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "A.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "A.-"] > li:before{
  counter-increment:list;
  content:counter(list, upper-alpha) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a°"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "a°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a°)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a."] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "a.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "a.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "a.-"] > li:before{
  counter-increment:list;
  content:counter(list, lower-alpha) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1"] > li:before{
  counter-increment:list;
  content:counter(list) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1)"] > li:before{
  counter-increment:list;
  content:counter(list) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1°"] > li:before{
  counter-increment:list;
  content:counter(list) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "1°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1°)"] > li:before{
  counter-increment:list;
  content:counter(list) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1."] > li:before{
  counter-increment:list;
  content:counter(list) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "1.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "1.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "1.-"] > li:before{
  counter-increment:list;
  content:counter(list) ".- ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I°"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "I°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I°)"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I."] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "I.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "I.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "I.-"] > li:before{
  counter-increment:list;
  content:counter(list, upper-roman) ".- ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) " ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ") ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i°"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i°"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i°"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) "° ";
  position:absolute;
  left:-1.4em;
}

ol[data-xfe-listtype = "i°)"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i°)"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i°)"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) "°) ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "i."]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i."] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i."] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ". ";
  position:absolute;
  left:-1.4em;
}


ol[data-xfe-listtype = "i.-"]{
  counter-reset:list;
}

ol[data-xfe-listtype = "i.-"] > li{
  list-style:none;
  position:relative;
}

ol[data-xfe-listtype = "i.-"] > li:before{
  counter-increment:list;
  content:counter(list, lower-roman) ".- ";
  position:absolute;
  left:-1.4em;
}

/* derniers ajouts */

/* listes ul */
ul[data-xfe-listType = '-']{
  list-style-type:none;
}

ul[data-xfe-listType = '-'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '•']{
  list-style-type:none;
}

ul[data-xfe-listType = '•'] > li:before{
  content:'•\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '■']{
  list-style-type:none;
}

ul[data-xfe-listType = '■'] > li:before{
  content:'■\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '*']{
  list-style-type:none;
}

ul[data-xfe-listType = '*'] > li:before{
  content:'*\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '>']{
  list-style-type:none;
}

ul[data-xfe-listType = '>'] > li:before{
  content:'>\00a0';
  display:block;
  float:left;
}

ul[data-xfe-listType = '']{
  list-style-type:none;
}

ul[data-xfe-listType = ''] > li:before{
  content:'\00a0';
  display:block;
  float:left;
}

/* listes ol */

ol[data-xfe-listType ^= 'decimal']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-alpha']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'lower-roman']{
  list-style-type:none;
}

ol[data-xfe-listType ^= 'upper-roman']{
  list-style-type:none;
}

ol[data-xfe-listType = 'decimal'] > li:before{
  content:counter(listItem, decimal) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal )'] > li:before{
  content:counter(listItem, decimal) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °'] > li:before{
  content:counter(listItem, decimal) '°\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal °)'] > li:before{
  content:counter(listItem, decimal) '°)\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .'] > li:before{
  content:counter(listItem, decimal) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal -'] > li:before{
  content:counter(listItem, decimal) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'decimal .-'] > li:before{
  content:counter(listItem, decimal) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha'] > li:before{
  content:counter(listItem, lower-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha )'] > li:before{
  content:counter(listItem, lower-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .'] > li:before{
  content:counter(listItem, lower-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha -'] > li:before{
  content:counter(listItem, lower-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-alpha .-'] > li:before{
  content:counter(listItem, lower-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha'] > li:before{
  content:counter(listItem, upper-alpha) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha )'] > li:before{
  content:counter(listItem, upper-alpha) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .'] > li:before{
  content:counter(listItem, upper-alpha) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha -'] > li:before{
  content:counter(listItem, upper-alpha) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-alpha .-'] > li:before{
  content:counter(listItem, upper-alpha) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman'] > li:before{
  content:counter(listItem, lower-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman )'] > li:before{
  content:counter(listItem, lower-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .'] > li:before{
  content:counter(listItem, lower-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman -'] > li:before{
  content:counter(listItem, lower-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'lower-roman .-'] > li:before{
  content:counter(listItem, lower-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman'] > li:before{
  content:counter(listItem, upper-roman) '\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman )'] > li:before{
  content:counter(listItem, upper-roman) ')\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .'] > li:before{
  content:counter(listItem, upper-roman) '.\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman -'] > li:before{
  content:counter(listItem, upper-roman) '-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}

ol[data-xfe-listType = 'upper-roman .-'] > li:before{
  content:counter(listItem, upper-roman) '.-\00a0';
  counter-increment:listItem;
  display:block;
  float:left;
}


