table{
	border-collapse:collapse;
	margin-top:1.25em;
	-webkit-text-size-adjust: auto;
}

table.ix_frame{}

table.ix_frameALL,
table.ix_frameall{

}

table.ix_frameTOP,
table.ix_frametop{
	border-top:1px solid black;
}

table.ix_frameBOTTOM,
table.ix_framebottom{
	border-bottom:1px solid black;
}

table.ix_frameTOPBOT,
table.ix_frametopbot{
	border-top:1px solid black;
	border-bottom:1px solid black;
}

table.ix_frameSIDES,
table.ix_framesides{
	border-left:1px solid black;
	border-right:1px solid black;
}

table.ix_frameALL,
table.ix_frameall{
	border:1px solid black;
}

table.ix_frameNONE{
	border:none;
}



/*
 * Classes définissant l'alignement horizontale (@align)
 * VALUESPACE : @align in {'JUSTIFY', 'CENTER', 'LEFT', 'RIGHT'}
 */
.ix_align{

}

.ix_alignLEFT,
.ix_alignleft{
	text-align:left;
}

.ix_alignRIGHT,
.ix_alignright{
	text-align:right
}
/*bug ceci ne marche pas sous ie*/
.ix_alignCENTER,
.ix_aligncenter{
	text-align:center; 
}
.ix_alignCENTER p,
.ix_aligncenter p,
.ix_alignCENTER div,
.ix_aligncenter div{ 
text-align:center;
}

.ix_alignJUSTIFY,
.ix_alignjustify{
	text-align:justify
}

.ix_alignCHAR{
}

/*
 * Classes définissant l'alignement verticale (@valign)
 * REMARK : @valign is in {tgroup} for EFL and EL
 * VALUESPACE : @valign in {'TOP', 'MIDDLE'}
 */
.ix_valignTOP,
.ix_valigntop{
	vertical-align:top;
}
.ix_valignMIDDLE,
.ix_valignmiddle{
	vertical-align:middle;
}
/* filets */
.ix_cals td{
	border-right:none;
	border-bottom:none;
}
.ix_cals thead td.ix_colsep{
	border-right:1px solid black;
}
.ix_cals td.ix_colsep{
	border-right:1px solid black;
}

.ix_cals thead td.ix_rowsep{
	border-bottom:1px solid black;
}
.ix_cals td.ix_rowsep{
	border-bottom:1px solid black;
}

.bg70{
	background-color:#DADADA;
}

/*.full_width_table{
    width:100%;
}*/

table em{
	font-style:normal;
	font-weight:bold;
}

table, th, td, tr{
	border:none;
}

tbody td{
	padding:0.4em 0.44em;
}

caption{
	/* même chose que pour le titre des images */
	padding:0.4em 0px;
	/*font-size:0.8em;*/
	font-weight:bold;
}

th{
	/*font-size:0.8em;*/
}

thead{
	background-color:#f5f5f5;
}

thead tr td p.p-revue{
	font-weight:bold !important;
}


thead td{
	padding:0.44em 0.4em 0.44em 0.44em;
	/*font-size:0.8em;*/
}


td{
	/*background-color: white;*/
	/*font-size:0.8em;*/
}

/* Font reduction for large tables*/
.table-contents-font-reduction{
	font-size:0.7em;
}
.table-contents-max-font-reduction{
	font-size:0.6em;
}

.mark-block th,
.mark-block td{
	background-color:black;
}
tfoot td{
	/*background-color:#FCFFFE;*/
	padding:0.44em 0.4em 0.44em 0.44em;
}