html{
  counter-reset:ti1;
  counter-reset:ti2;
  counter-reset:ti3;
  counter-reset:ti4;
  counter-reset:ti5;
  counter-reset:ti6;
  counter-reset:ti7;
  counter-reset:ti8;
  counter-reset:ti9;
  counter-reset:ti10;
  counter-reset:ti11;
  counter-reset:ti12;
}
.Etudered{
  font-family:Univers;
  color:red;
  margin-bottom:0;
  margin-top:0;
  margin-left:0;
  margin-right:20%;
  border-right-color:black;
  border-right-width:1pt;
  border-right-style:dotted;
}
p{
  margin-bottom:inherit;
  margin-top:inherit;
  margin-left:inherit;
  margin-right:inherit;
  display:block;
  font-family:Univers;
  color:black;
}
div{
  display:block;
}
.Tbl{
  margin-top:0.5%;
  margin-bottom:inherit;
  margin-left:inherit;
  margin-right:inherit;
  color:black;
}
.table{
  color:black;
  border:1pt solid;
}
.table table thead{
  font-weight:bold;
}
.Tietude{
  display:block;
  font-weight:bold;
  font-style:normal;
  font-size:2em;
  font-stretch:normal;
  color:#1A527F;
  text-align:left;
  line-height:100.0%;
  word-spacing:normal;
}
.Lettrine{
  display:inline;
  background-color:#B3DDFF;
  color:black;
}
.Titret{
  display:inline;
}
.Presentation{
  margin-top:2%;
  color:black;
}
/* PnumTi et premier paraghraphe */
.Pnumti{
  font-weight:bold;
  font-family:Sans-Serif;
  display:inline;
  color:black;
  padding-right:0.2em;
  /* pour le reste de la section */
  counter-reset:Pnum2;
  counter-reset:Pnum3;
}

.Pnumti:before{
  content:attr(data-xml-indtap);
  padding-right:1em;
  padding-left:1em;
}

.Pnumti:after{
}

.Pnumti + p:before {
  content:"\202f\25a0";
  padding-left:0.3em;
  padding-right:0.3em;
  color:rgb(179, 179, 179);
}
/*
.Pnumti{
  color:#4DB0FF;
  font-weight:bold;
  font-size:2em;
  margin-top:3%;
  margin-bottom:3%;
  counter-reset:ti2;
}
.Pnumti[data-xml-level = "2"]:before{
  counter-increment:ti2;
  content:"Partie " counter(ti2) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "2"]{
  color:#4DB0FF;
  font-weight:normal;
  display:list-item;
  margin-top:3%;
  margin-bottom:3%;
  counter-reset:ti3;
}
.Pnumti[data-xml-level = "3"]:before{
  counter-increment:ti3;
  content:"Titre " counter(ti3) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "3"]{
  color:#4DB0FF;
  font-weight:normal;
  font-style:italic;
  display:list-item;
  margin-top:3%;
  margin-bottom:3%;
  counter-reset:ti4;
}
.Pnumti[data-xml-level = "4"]:before{
  counter-increment:ti4;
  content:"Chapitre" counter(ti4) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "4"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:underline;
  display:list-item;
  margin-top:3%;
  margin-bottom:3%;
  counter-reset:ti5;
}
.Pnumti[data-xml-level = "5"]:before{
  counter-increment:ti5;
  content:"Section " counter(ti5) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "5"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
  display:list-item;
  counter-reset:ti6;
}
.Pnumti[data-xml-level = "6"]:before{
  counter-increment:ti6;
  content:"Sous-section " counter(ti6) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "6"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
  display:list-item;
  counter-reset:ti7;
}
.Pnumti[data-xml-level = "7"]:before{
  counter-increment:ti7;
  content:counter(ti7) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "7"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
  display:list-item;
  counter-reset:ti8;
}
.Pnumti[data-xml-level = "8"]:before{
  counter-increment:ti8;
  content:counter(ti8) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "8"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
  display:list-item;
  counter-reset:ti9;
}
.Pnumti[data-xml-level = "9"]:before{
  counter-increment:ti9;
  content:counter(ti9) ". - ";
  color:#4DB0FF;
  font-weight:bold;
}
.Pnumti[data-xml-level = "9"]{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
  display:list-item;
  counter-reset:ti10;
}
*/
.Pnum2{
  color:#4DB0FF;
  font-weight:normal;
  text-decoration:none;
}
.Pnum3{
  color:#4DB0FF;
  font-weight:normal;
  font-size:0.9em;
  text-decoration:none;
}
.Renvointerne{
}
.Saisie{
}
.Nomf,
.Nomet{
  font-variant:small-caps;
}
.Numpara:before{
  display:inline;
  color:black;
  content:attr(data-xml-num);
}
.Numpara{
  display:inline;
  color:black;
}
.Remarque:before{
  content:"remarque\202f:\202f"; /* unicode 202f : espace fine insécable */
  color:black;
  font-weight:bold;
  font-family:Sans-Serif;
  font-variant:small-caps;
  font-size:smaller;
}
.Remarque{
  font-size:smaller;
  text-align:justify;
  color:black;
}
.tgroup{
}
.first{
}
.cals_cals{
}
.cals_frame{
}
.cals_orient{
}
.full_width_table{
}
.cals_odd{
}
.Tet1niv{
}
.Coupe{
}
.cals_even{
}
.Tet2niv{
}
.Refna{
  display:inline;
  text-align:left;
  float:none;
  color:black;
}
.Etudered > .Refna{
  display:block;
}
.Reftexte{
  display:inline;
  text-align:left;
  float:none;
  color:black;
}
.Etudered > .Reftexte{
  display:block;
}
.Refjrp{
  display:inline;
  color:black;
}
.Etudered > .Refjrp{
  display:block;
}
.Reftexte:before,
.Refjrp:before,
.Refna:before{
  content:"\00a9\202f"; /* copyright */
}
p .Reftexte:before,
p .Refjrp:before,
p .Refna:before{
  content:"(\00a9\202f"; /* copyright */
}
p .Reftexte:after,
p .Refjrp:after,
p .Refna:after{
  content:")";
}
.Refcode{
  display:inline;
  color:black;
}
.Refcode:before{
  display:inline;
  color:black;
  content:attr(data-xml-type) " ";
}
.Etudered .Refcode:before{
  display:inline;
  color:black;
  content:"(" attr(data-xml-type) ". ";
}
.Etudered .Refcode[data-xml-code = "PXCT2"]:before{
  display:inline;
  color:black;
  text-transform:lowercase;
  content:"(C. trav., " attr(data-xml-type) ". ";
} /* refcode bloc */
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCT2"]:before{
  content:"\00a9\202f C. trav, art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSP"]:before{
  content:"\00a9\202f C. santé publ., art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSS"]:before{
  content:"\00a9\202f CSS, art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCGCT"]:before{
  content:"\00a9\202f CGCT, art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCPP"]:before{
  content:"\00a9\202f C. pr. pén., art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSI"]:before{
  content:"\00a9\202f CSI, art.\202f"; /* copyright */
}
.Etudered > .Refcode[data-xml-type = "ART"][data-xml-code = "PXCCV"]:before{
  content:"\00a9\202f C. civ., art.\202f"; /* copyright */
}
/* refcode inline */
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCT2"]:before{
  content:"(\00a9\202f C. trav, art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSP"]:before{
  content:"(\00a9\202f C. santé publ., art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSS"]:before{
  content:"(\00a9\202f CSS, art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCGCT"]:before{
  content:"(\00a9\202f CGCT, art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCPP"]:before{
  content:"(\00a9\202f C. pr. pén., art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCSI"]:before{
  content:"(\00a9\202f CSI, art.\202f"; /* copyright */
}
p .Refcode[data-xml-type = "ART"][data-xml-code = "PXCCV"]:before{
  content:"(\00a9\202f C. civ., art.\202f"; /* copyright */
}
p .Refcode:after{
  content:")";
}
.Xacode:before,
.Xacodes:before{
  display:inline;
  color:black;
  content:attr(data-xml-type) attr(data-xml-num);
}
.Etudered .Xacode:before,
.Etudered .Xacodes:before{
  display:inline;
  color:black;
  content:attr(data-xml-type) attr(data-xml-num);
}
.Etudered .Xacode:after,
.Etudered .Xacodes:after{
  display:inline;
  color:black;
  content:")"
}
.Xacode,
.Xacodes{
  display:inline;
  color:black;
}
.Renvoiexterne{
}
.Fixe{
}
.AppelNT{
}
.Altiret:before{
  color:black;
  content:"● ";
}
.Altiret{
  color:black;
  text-indent:5%;
}
.Altiret + .Altiret{
  margin-top:0;
}
.NT{
}
.Encad{
}
.Avertissement{
  font-style:italic;
  color:graytext;
  margin-top:2%;
  margin-bottom:inherit;
  margin-left:inherit;
  margin-right:inherit;
}
.Renvoi-ibt{
}
.Hide:before{
  content:"-- Hide -- Hide -- Hide --";
}
.Hide:after{
  content:"-- Hide -- Hide -- Hide --";
}
.Hide{
  width:100%;
  text-align:justify;
  color:red;
}
.Cdr:before{
  content:"-- Cdr -- Cdr -- Cdr --";
}
.Cdr:after{
  content:"-- Cdr -- Cdr -- Cdr --";
}
.Cdr{
  width:100%;
  text-align:justify;
  color:green;
}
.Bareme{
}
p.Altiretannotation{
  margin-top:0.2em;
  margin-bottom:0.2em;
  font-size:smaller;
  text-align:justify;
}

p.Altiretannotation:before{
  content:"\2014\202f";
  text-align:center;
  padding-right:0.2em;
  font-size:smaller;
}

.Exemple:before{
  content:"exemple\202f:\202f"; /* unicode 202f : espace fine insécable */
  font-weight:bold;
  font-family:Sans-Serif;
  font-variant:small-caps;
  font-size:smaller;
  color:black;
}
.Exemple{
  font-size:smaller;
  text-align:justify;
  color:black;
}
.Nomdct{
}
.Pnum3{
}
.Xsit{
}
.Titre{
}
.Alannotation{
  margin-top:0.2em;
  margin-bottom:0.2em;
  font-size:smaller;
  text-align:justify;
  color:black;
}
.Annexe:before{
  content:"Annexe : ";
  font-weight:bold;
}
.Annexe{
margin-top:1%;
margin-bottom:1%;
color:#4DB0FF;
font-size:1.2em;
}
.Dpnomet{
}
.Alpuce:before{
  color:black;
  content:"● ";
}
.Alpuce{
  color:black;
  text-indent:5%;
}
.RefCCN{
}
.Libre1{
}
.CCN{
}
.Libre2{
}
.AlNT{
}
.Exemple1{
}
.Tetverticale{
}
.Ti{
}
.Ill{
}
.Image{
}
.Ti1{
}
.Pcap{
}
.Equation{
}
.Partie {
 color:#4DB0FF;
  font-weight:bold;
  font-size:2em;
  }
.Titre {
 color:#4DB0FF;
  font-weight:bold;
  font-size:1.8em;
  }
  .Chapitre {
 color:#4DB0FF;
  font-weight:bold;
  font-size:1.6em;
  }
  .Section {
 color:#4DB0FF;
  font-weight:bold;
  font-size:1.4em;
  }
  .Ssection {
 color:#4DB0FF;
  font-size:1.4em;
  }
  .Ti1 {
 color:#4DB0FF;
  font-size:1.2em;
  }
  .Ti2 {
 color:#4DB0FF;
  font-size:1.1em;
  }
  .Ti3 {
 color:#4DB0FF;
  font-size:1em;
  }
  